In [1]:
import pandas as pd
import numpy as np

In [141]:
# %matplotlib inline

In [142]:
read_df = pd.read_csv('Fire_Incidents.tsv', sep='\t')

C:\Users\Rutul Thakkar\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (11,12,19,44,58) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
read_df.shape

(490557, 63)

In [4]:
read_df.describe()

,Incident Number,Exposure Number,Call Number,Zipcode,Suppression Units,Suppression Personnel,EMS Units,EMS Personnel,Other Units,Other Personnel,...,Civilian Fatalities,Civilian Injuries,Number of Alarms,Floor of Fire Origin,Number of floors with minimum damage,Number of floors with significant damage,Number of floors with heavy damage,Number of floors with extreme damage,Number of Sprinkler Heads Operating,Supervisor District
count,4.905570e+05,490557.000000,4.905570e+05,417754.000000,490557.000000,490557.000000,490557.000000,490557.000000,490557.000000,490557.000000,...,490557.000000,490557.000000,0.0,8143.000000,6610.000000,6599.000000,6593.000000,6596.000000,6740.000000,417733.000000
mean,1.075417e+07,0.000045,1.087612e+08,94113.480062,2.536606,9.125166,0.176071,0.326225,0.034500,0.063151,...,0.000061,0.001164,NaN,2.276311,0.723298,0.155781,0.082967,0.039418,0.081009,5.785550
std,4.701487e+06,0.009253,4.692795e+07,10.171593,8.918681,23.038565,0.784429,1.197361,1.452718,1.522060,...,0.009253,0.065775,NaN,5.762561,0.510876,0.438704,0.339013,0.266318,0.431331,2.729271
min,3.000001e+06,0.000000,3.001000e+07,94102.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,NaN,-3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,7.021794e+06,0.000000,7.074036e+07,94105.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
50%,1.102821e+07,0.000000,1.108504e+08,94110.000000,2.000000,9.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,NaN,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,6.000000
75%,1.504672e+07,0.000000,1.512323e+08,94121.000000,3.000000,10.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,NaN,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,8.000000
max,1.903054e+07,5.000000,1.907200e+08,94158.000000,3333.000000,5960.000000,150.000000,312.000000,1000.000000,1000.000000,...,3.000000,24.000000,NaN,105.000000,5.000000,7.000000,5.000000,6.000000,20.000000,11.000000

In [5]:
read_df['Station Area'].unique()

array(['15', '39', '01', '10', '03', '16', '44', '40', '37', '35', '28',
       '33', '31', '07', '02', '38', '43', '17', '36', '06', '48', '12',
       '13', '23', '08', '20', 'A1', '41', '14', '29', '42', '21', '19',
       '11', '25', 'A3', '09', '26', '22', '34', '32', '18', '24', '05',
       'A2', '51', 'H1', nan, '53', '04', 'OT', 'A4', '99', '47', 1.0,
       5.0, 32.0, 7.0, 3.0, 13.0, 28.0, 35.0, 10.0, 11.0, 33.0, 31.0, 9.0,
       34.0, 41.0, 2.0, 29.0, 18.0, 20.0, 39.0, 21.0, 36.0, 8.0, 51.0,
       14.0, 24.0, 17.0, 26.0, 25.0, 15.0, 16.0, 37.0, 38.0, 44.0, 4.0,
       42.0, 12.0, 6.0, 43.0, 19.0, 22.0, 40.0, 48.0, 23.0, 47.0, 94.0],
      dtype=object)

In [6]:
 read_df.count()

Incident Number                                 490557
Exposure Number                                 490557
Address                                         490335
Incident Date                                   490557
Call Number                                     490557
Alarm DtTm                                      490557
Arrival DtTm                                    490524
Close DtTm                                      490556
City                                            489038
Zipcode                                         417754
Battalion                                       490557
Station Area                                    489750
Box                                             192727
Suppression Units                               490557
Suppression Personnel                           490557
EMS Units                                       490557
EMS Personnel                                   490557
Other Units                                     490557
Other Personnel                                 490557
First Unit On Scene                             329809
Estimated Property Loss                         128399
Estimated Contents Loss                         135506
Fire Fatalities                                 490557
Fire Injuries                                   490557
Civilian Fatalities                             490557
Civilian Injuries                               490557
Number of Alarms                                     0
Primary Situation                               490557
Mutual Aid                                      490557
Action Taken Primary                            490556
                                                 ...
Property Use                                    489933
Area of Fire Origin                              29788
Ignition Cause                                   29785
Ignition Factor Primary                          29784
Ignition Factor Secondary                        24175
Heat Source                                      29787
Item First Ignited                               29785
Human Factors Associated with Ignition           29776
Structure Type                                   11281
Structure Status                                 11166
Floor of Fire Origin                              8143
Fire Spread                                       9595
No Flame Spead                                  159757
Number of floors with minimum damage              6610
Number of floors with significant damage          6599
Number of floors with heavy damage                6593
Number of floors with extreme damage              6596
Detectors Present                                11161
Detector Type                                    10445
Detector Operation                               10445
Detector Effectiveness                           10177
Detector Failure Reason                           9624
Automatic Extinguishing System Present           11189
Automatic Extinguishing Sytem Type                9978
Automatic Extinguishing Sytem Perfomance          9978
Automatic Extinguishing Sytem Failure Reason      9604
Number of Sprinkler Heads Operating               6740
Supervisor District                             417733
Neighborhood  District                          417608
Location                                        426807
Length: 63, dtype: int64

In [7]:
read_df['Civilian Fatalities'].head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: Civilian Fatalities, dtype: int64

In [8]:
read_df['Civilian Fatalities'].unique()

array([0, 1, 2, 3], dtype=int64)

In [9]:
read_df['Civilian Injuries'].head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: Civilian Injuries, dtype: int64

In [10]:
read_df['Civilian Injuries'].unique()

array([ 0,  1,  2,  3,  4,  8,  9,  6,  5,  7, 24, 10], dtype=int64)

In [11]:
read_df['Mutual Aid'].head(10)

0      none
1      none
2      none
3      none
4      none
5      none
6      none
7    n none
8      none
9      none
Name: Mutual Aid, dtype: object

In [12]:
read_df['Mutual Aid'].count()

490557

In [13]:
 read_df.count()

Incident Number                                 490557
Exposure Number                                 490557
Address                                         490335
Incident Date                                   490557
Call Number                                     490557
Alarm DtTm                                      490557
Arrival DtTm                                    490524
Close DtTm                                      490556
City                                            489038
Zipcode                                         417754
Battalion                                       490557
Station Area                                    489750
Box                                             192727
Suppression Units                               490557
Suppression Personnel                           490557
EMS Units                                       490557
EMS Personnel                                   490557
Other Units                                     490557
Other Personnel                                 490557
First Unit On Scene                             329809
Estimated Property Loss                         128399
Estimated Contents Loss                         135506
Fire Fatalities                                 490557
Fire Injuries                                   490557
Civilian Fatalities                             490557
Civilian Injuries                               490557
Number of Alarms                                     0
Primary Situation                               490557
Mutual Aid                                      490557
Action Taken Primary                            490556
                                                 ...
Property Use                                    489933
Area of Fire Origin                              29788
Ignition Cause                                   29785
Ignition Factor Primary                          29784
Ignition Factor Secondary                        24175
Heat Source                                      29787
Item First Ignited                               29785
Human Factors Associated with Ignition           29776
Structure Type                                   11281
Structure Status                                 11166
Floor of Fire Origin                              8143
Fire Spread                                       9595
No Flame Spead                                  159757
Number of floors with minimum damage              6610
Number of floors with significant damage          6599
Number of floors with heavy damage                6593
Number of floors with extreme damage              6596
Detectors Present                                11161
Detector Type                                    10445
Detector Operation                               10445
Detector Effectiveness                           10177
Detector Failure Reason                           9624
Automatic Extinguishing System Present           11189
Automatic Extinguishing Sytem Type                9978
Automatic Extinguishing Sytem Perfomance          9978
Automatic Extinguishing Sytem Failure Reason      9604
Number of Sprinkler Heads Operating               6740
Supervisor District                             417733
Neighborhood  District                          417608
Location                                        426807
Length: 63, dtype: int64

In [14]:
read_df.describe()

,Incident Number,Exposure Number,Call Number,Zipcode,Suppression Units,Suppression Personnel,EMS Units,EMS Personnel,Other Units,Other Personnel,...,Civilian Fatalities,Civilian Injuries,Number of Alarms,Floor of Fire Origin,Number of floors with minimum damage,Number of floors with significant damage,Number of floors with heavy damage,Number of floors with extreme damage,Number of Sprinkler Heads Operating,Supervisor District
count,4.905570e+05,490557.000000,4.905570e+05,417754.000000,490557.000000,490557.000000,490557.000000,490557.000000,490557.000000,490557.000000,...,490557.000000,490557.000000,0.0,8143.000000,6610.000000,6599.000000,6593.000000,6596.000000,6740.000000,417733.000000
mean,1.075417e+07,0.000045,1.087612e+08,94113.480062,2.536606,9.125166,0.176071,0.326225,0.034500,0.063151,...,0.000061,0.001164,NaN,2.276311,0.723298,0.155781,0.082967,0.039418,0.081009,5.785550
std,4.701487e+06,0.009253,4.692795e+07,10.171593,8.918681,23.038565,0.784429,1.197361,1.452718,1.522060,...,0.009253,0.065775,NaN,5.762561,0.510876,0.438704,0.339013,0.266318,0.431331,2.729271
min,3.000001e+06,0.000000,3.001000e+07,94102.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,NaN,-3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,7.021794e+06,0.000000,7.074036e+07,94105.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
50%,1.102821e+07,0.000000,1.108504e+08,94110.000000,2.000000,9.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,NaN,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,6.000000
75%,1.504672e+07,0.000000,1.512323e+08,94121.000000,3.000000,10.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,NaN,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,8.000000
max,1.903054e+07,5.000000,1.907200e+08,94158.000000,3333.000000,5960.000000,150.000000,312.000000,1000.000000,1000.000000,...,3.000000,24.000000,NaN,105.000000,5.000000,7.000000,5.000000,6.000000,20.000000,11.000000

In [15]:
read_df['Zipcode'].unique()

array([   nan, 94103., 94109., 94123., 94134., 94122., 94107., 94118.,
       94105., 94133., 94127., 94110., 94108., 94112., 94102., 94124.,
       94130., 94115., 94131., 94114., 94111., 94117., 94104., 94132.,
       94116., 94121., 94158., 94129.])

In [16]:
# read_df['Zipcode'].isna().sum()

In [17]:
# read_df['Zipcode'] = read_df['Zipcode'].dropna()

In [18]:
read_df.shape

(490557, 63)

In [19]:
read_df

,Incident Number,Exposure Number,Address,Incident Date,Call Number,Alarm DtTm,Arrival DtTm,Close DtTm,City,Zipcode,...,Detector Effectiveness,Detector Failure Reason,Automatic Extinguishing System Present,Automatic Extinguishing Sytem Type,Automatic Extinguishing Sytem Perfomance,Automatic Extinguishing Sytem Failure Reason,Number of Sprinkler Heads Operating,Supervisor District,Neighborhood District,Location
0,9030109,0,310 Colon Av.,04/12/2009,91020273,04/12/2009 06:09:13 PM,04/12/2009 06:13:45 PM,04/12/2009 07:23:13 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13067402,0,20 Lansdale Av,07/18/2013,131990117,07/18/2013 10:32:03 AM,07/18/2013 10:37:15 AM,07/18/2013 10:39:55 AM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12044490,0,7th St. / Folsom St.,05/13/2012,121340051,05/13/2012 03:55:37 AM,05/13/2012 04:01:57 AM,05/13/2012 04:05:44 AM,SF,94103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,South of Market,"(37.7767460000297, -122.407844)"
3,13033326,0,2799 Pacific Av,04/09/2013,130990286,04/09/2013 04:34:07 PM,04/09/2013 04:39:31 PM,04/09/2013 05:20:27 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11101416,0,Polk St. / Pine St.,11/01/2011,113050357,11/01/2011 06:07:45 PM,11/01/2011 06:10:17 PM,11/01/2011 06:11:09 PM,SF,94109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Nob Hill,"(37.7896190000297, -122.420497)"
5,12077793,0,2824 Scott St.,08/22/2012,122350085,08/22/2012 08:58:06 AM,08/22/2012 09:10:06 AM,08/22/2012 09:13:18 AM,SF,94123.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Marina,"(37.7960234800297, -122.43998326)"
6,7021713,0,San Bruno Av. / Teddy Av.,03/15/2007,70740223,03/15/2007 01:55:35 PM,03/15/2007 01:59:24 PM,03/15/2007 01:59:56 PM,SF,94134.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Visitacion Valley,"(37.7129950000296, -122.4021)"
7,15065212,0,1532 Noriega Street,06/20/2015,151710341,06/20/2015 02:44:56 AM,06/20/2015 02:51:39 AM,06/20/2015 03:18:48 AM,San Francisco,94122.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,Sunset/Parkside,"(37.7541490000296, -122.480073)"
8,10097225,0,1215 Carolina St.,10/31/2010,103040303,10/31/2010 05:14:49 PM,10/31/2010 05:19:50 PM,10/31/2010 05:27:14 PM,SF,94107.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Potrero Hill,"(37.7533230000297, -122.399403)"
9,8033299,0,870 Kansas St.,04/17/2008,81080319,04/17/2008 05:54:33 PM,04/17/2008 06:00:46 PM,04/17/2008 06:04:55 PM,SF,94107.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Potrero Hill,"(37.7585613300297, -122.40325885)"
10,8098069,0,3700 California St.,11/15/2008,83200113,11/15/2008 07:35:55 AM,11/15/2008 07:41:58 AM,11/15/2008 07:56:04 AM,SF,94118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Presidio Heights,"(37.7865740000297, -122.455772)"
11,5008050,0,101 Spear St.,01/30/2005,50300156,01/30/2005 11:16:14 AM,01/30/2005 11:17:02 AM,01/30/2005 11:42:41 AM,SF,94105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Financial District/South Beach,"(37.7922650000297, -122.392848)"
12,4012483,0,Columbus Av. / Union St.,02/13/2004,40440358,02/13/2004 08:14:32 PM,02/13/2004 08:16:09 PM,02/13/2004 08:16:31 PM,SF,94133.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Chinatown,"(37.8003150000297, -122.410208)"
13,13110544,0,150 Dalewood Wy,11/21/2013,133250367,11/21/2013 10:40:34 PM,11/21/2013 10:48:00 PM,11/21/2013 11:42:01 PM,SF,94127.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,West of Twin Peaks,"(37.7390060000296, -122.454692)"
14,5049481,0,253 Castenada Av.,07/04/2005,51850266,07/04/2005 05:52:33 PM,07/04/2005 05:57:16 PM,07/04/2005 06:05:10 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,3091192,0,203 Plymouth Av.,11/13/2003,33170424,11/13/2003 11:29:51 PM,11/14/2003 07:28:33 AM,11/14/2003 07:29:44 AM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,5002244,0,645 14th Av.,01/08/2005,50080224,01/08/2005 03:31:21 PM,01/08/2005 03:34:30 PM,01/08/2005 03:48:35 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,3048160,0,567 Shotwell St.,06/17/2003,31680411,06/17/2003 10:12:44 PM,06/17/2003 10:14:33 PM,06/17/2003 10:23:49 PM,SF,94110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,Mission,"(37.7593668100296, -122.41551386)"
18,4033909,0,Mason St. / Washington St.,04/28/2004,41190186,04/28/2004 12:24:27 PM,04/28/2004 12:26:39 PM,04/28/2004 12:27:11 PM,SF,94108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Nob Hill,"(37.7945250000297, -122.411368)"
19,3031831,0,3325 Steiner St.,04/20/2003,31100307,04/20/2003 08:02:30 PM,04/20/2003 08:05:03 PM,04/20/2003 08:19:05 PM,SF,94123.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Marina,"(37.8000215600297, -122.43806588)"
20,6060988,0,125 6th St.,08/05/2006,62170212,08/05/2006 02:20:07 PM,08/05/2006 02:23:10 PM,08/05/2006 02:46:53 PM,SF,94103.0,...,"1 -alerted occupants, occupants responded",-,n -none present,-,-,-,0.0,6.0,South of Market,"(37.7807000000297, -122.408248)"
21,5006655,0,1080 Chestnut St.,01/25/2005,50250139,01/25/2005 09:21:00 AM,01/25/2005 09:25:09 AM,01/25/2005 09:29:49 AM,SF,94109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Russian Hill,"(37.8028120000297, -122.421135)"
22,11051320,0,Wilde Av. / Goettingen St.,06/04/2011,111550294,06/04/2011 05:40:01 PM,06/04/2011 05:43:15 PM,06/04/2011 05:43:20 PM,SF,94134.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Visitacion Valley,"(37.7160600000296, -122.402092)"
23,7023372,0,1801 Franklin St.,03/21/2007,70800070,03/21/2007 08:19:43 AM,03/21/2007 08:28:28 AM,03/21/2007 08:54:37 AM,SF,94109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Pacific Heights,"(37.7911380000297, -122.424261)"
24,8004011,0,Naples St. / Excelsior Av.,01/12/2008,80120170,01/12/2008 11:15:08 AM,01/12/2008 11:15:08 AM,01/12/2008 12:13:09 PM,SF,94112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,Excelsior,"(37.7239550000296, -122.428836)"
25,3057101,0,Golden Gate Av. / Larkin St.,07/17/2003,31980328,07/17/2003 05:12:47 PM,07/17/2003 05:14:58 PM,07/17/2003 05:23:06 PM,SF,94102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Tenderloin,"(37.7814460000297, -122.417147)"
26,3066990,0,650 Jamestown Av.,08/22/2003,32340054,08/22/2003 06:42:50 AM,08/22/2003 06:48:43 AM,08/22/2003 06:51:13 AM,SF,94124.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Bayview Hunters Point,"(37.7134110000296, -122.386415)"
27,12060923,0,Taylor St. / Eddy St.,07/01/2012,121830130,07/01/2012 11:23:26 AM,07/01/2012 11:25:49 AM,07/01/2012 11:26:10 AM,SF,94102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Tenderloin,"(37.7841400000297, -122.410955)"
28,12099458,0,1325 Chestnut St.,10/26/2012,123000208,10/26/2012 02:20:51 PM,10/26/2012 02:25:15 PM,10/26/2012 02:39:45 PM,SF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,10031787,0,190 Ofarrell St.,04/13/2010,101030210,04/13/2010 02:35:16 PM,04/13/2010 02:39:10 PM,04/13/2010 02:48:16 PM,SF,94102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Financial District/South Beach,"(37.7865030000297, -122.407848)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490527,19030222,0,405 Serrano Dr 4thfl,03/12/2019,190711185,03/12/2019 10:05:01 AM,03/12/2019 10:09:39 AM,03/12/2019 10:53:45 AM,San Francisco,94132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,Lakeshore,"(37.718991000029625, -122.481573)"
490528,19030234,0,1301 Sansome Street,03/12/2019,190711352,03/12/2019 10:45:45 AM,03/12/2019 10:47:57 AM,03/12/2019 11:07:50 AM,San Francisco,94133.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,North Beach,"(37.80222500002968, -122.40307500000002)"
490529,19030247,0,211 30th St 8,03/12/2019,190711543,03/12/2019 11:26:45 AM,03/12/2019 11:30:44 AM,03/12/2019 11:41:38 AM,San Francisco,94131.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,Glen Park,"(37.74214500002963, -122.424607)"
490530,19030248,0,405 Serrano Dr 9j Drive,03/12/2019,190711544,03/12/2019 11:26:56 AM,03/12/2019 11:30:32 AM,03/12/2019 11:43:02 AM,San Francisco,94132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,Lakeshore,"(37.718991000029625, -122.481573)"
490531,19030250,0,962 Ingerson Avenue,03/12/2019,190711547,03/12/2019 11:27:49 AM,03/12/2019 11:33:49 AM,03/12/2019 11:35:51 AM,San Francisco,94124.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Bayview Hunters Point,"(37.71879300002962, -122.39226900000001)"
490532,19030286,0,345 Williams Avenue,03/12/2019,190711912,03/12/2019 01:00:31 PM,03/12/2019 01:04:56 PM,03/12/2019 01:34:59 PM,San Francisco,94124.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Bayview Hunters Point,"(37.72980500002962, -122.39924699999999)"
490533,19030297,0,Precita Avenue,03/12/2019,190712002,03/12/2019 01:20:55 PM,03/12/2019 01:28:06 PM,03/12/2019 01:40:54 PM,San Francisco,94110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,Bernal Heights,"(37.74669600002962, -122.418284)"
490534,19030351,0,1 101nb Bayshore 3rd,03/12/2019,190712518,03/12/2019 03:34:08 PM,03/12/2019 03:44:17 PM,03/12/2019 04:46:02 PM,San Francisco,94134.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Bayview Hunters Point,"(37.714869000029616, -122.39781199999999)"
490535,19030372,0,427 Connecticut Street,03/12/2019,190712677,03/12/2019 04:06:19 PM,03/12/2019 04:11:05 PM,03/12/2019 04:15:24 PM,San Francisco,94107.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Potrero Hill,"(37.76087900002965, -122.397252)"
490536,19030374,0,Junipero Serra Bl,03/12/2019,190712692,03/12/2019 04:08:13 PM,03/12/2019 04:13:17 PM,03/12/2019 04:17:48 PM,San Francisco,94132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,West of Twin Peaks,"(37.73470500002963, -122.47156900000002)"
490537,19030398,0,1845 Powell Street,03/12/2019,190712995,03/12/2019 05:15:32 PM,03/12/2019 05:18:26 PM,03/12/2019 05:29:26 PM,San Francisco,94133.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,North Beach,"(37.80158400002967, -122.411192)"
490538,19030410,0,350 Golden Gate Avenue,03/12/2019,190713134,03/12/2019 05:46:32 PM,03/12/2019 05:48:59 PM,03/12/2019 05:57:27 PM,San Francisco,94102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Tenderloin,"(37.78161600002967, -122.416356)"
490539,19030412,0,100 Blk Beverly Street,03/12/2019,190713143,03/12/2019 05:47:35 PM,03/12/2019 05:52:18 PM,03/12/2019 05:55:56 PM,San Francisco,94132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,Oceanview/Merced/Ingleside,"(37.71787600002962, -122.471631)"
490540,19030418,0,149 Oxford Street,03/12/2019,190713208,03/12/2019 06:03:16 PM,03/12/2019 06:08:12 PM,03/12/2019 06:11:30 PM,San Francisco,94134.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,Excelsior,"(37.727996000029634, -122.420052)"
490541,19030422,0,24 Wentworth Place,03/12/2019,190713256,03/12/2019 06:15:00 PM,03/12/2019 06:18:44 PM,03/12/2019 06:28:36 PM,San Francisco,94108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Chinatown,"(37.79544800002967, -122.40601099999999)"
490542,19030423,0,Skyline Bl,03/12/2019,190713261,03/12/2019 06:16:26 PM,03/12/2019 06:22:04 PM,03/12/2019 06:29:47 PM,San Francisco,94132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,Lakeshore,"(37.73157400002961, -122.499055)"
490543,19030425,0,201 8th Street,03/12/2019,190713273,03/12/2019 06:19:05 PM,03/12/2019 06:24:18 PM,03/12/2019 06:32:23 PM,San Francisco,94103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,South of Market,"(37.77621500002963, -122.411075)"
490544,19030430,0,Turk Street,03/12/2019,190713320,03/12/2019 06:28:21 PM,03/12/2019 06:37:20 PM,03/12/2019 06:39:09 PM,San Francisco,94102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Tenderloin,"(37.78279300002966, -122.414056)"
490545,19030436,0,Coleridge Street,03/12/2019,190713361,03/12/2019 06:36:04 PM,03/12/2019 06:40:43 PM,03/12/2019 06:41:06 PM,San Francisco,94110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,Bernal Heights,"(37.74175200002963, -122.420979)"
490546,19030442,0,680 Mission Street,03/12/2019,190713405,03/12/2019 06:46:12 PM,03/12/2019 06:51:36 PM,03/12/2019 06:52:46 PM,San Francisco,94105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Financial District/South Beach,"(37.78663000002967, -122.40166699999999)"
490547,19030457,0,55 Chumasero Drive,03/12/2019,190713515,03/12/2019 07:16:32 PM,03/12/2019 07:20:00 PM,03/12/2019 07:35:26 PM,San Francisco,94132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,Lakeshore,"(37.71382900002959, -122.47307499999998)"
490548,19030459,0,1450 Post St 1001,03/12/2019,190713529,03/12/2019 07:22:53 PM,03/12/2019 07:28:23 PM,03/12/2019 07:37:20 PM,San Francisco,94109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Japantown,"(37.78615900002968, -122.425702)"
490549,19030460,0,2 Fallon Place,03/12/2019,190713548,03/12/2019 07:28:10 PM,03/12/2019 07:31:44 PM,03/12/2019 07:43:49 PM,San Francisco,94133.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Nob Hill,"(37.797786000029696, -122.413201)"
490550,19030469,0,Market Street,03/12/2019,190713689,03/12/2019 08:03:13 PM,03/12/2019 08:04:33 PM,03/12/2019 08:09:31 PM,San Francisco,94114.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,Castro/Upper Market,"(37.76750200002965, -122.42895000000001)"
490551,19030471,0,4284 26th Street,03/12/2019,190713700,03/12/2019 08:07:29 PM,03/12/2019 08:11:05 PM,03/12/2019 08:13:46 PM,San Francisco,94114.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,Noe Valley,"(37.748055000029645, -122.435619)"
490552,19030476,0,149 Mason Street,03/12/2019,190713775,03/12/2019 08:33:21 PM,03/12/2019 08:37:08 PM,03/12/2019 08:50:31 PM,San Francisco,94102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Tenderloin,"(37.78479700002968, -122.40949000000002)"
490553,19030491,0,Powell Street,03/12/2019,190713888,03/12/2019 09:02:58 PM,03/12/2019 09:04:44 PM,03/12/2019 10:21:55 PM,San Francisco,94102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Tenderloin,"(37.78549200002965, -122.407854)"
490554,19030524,0,4384 23rd Street,03/12/2019,190714208,03/12/2019 10:47:58 PM,03/12/2019 10:51:58 PM,03/12/2019 10:56:24 PM,San Francisco,94114.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,Noe Valley,"(37.75258800002964, -122.44041099999998)"
490555,19030529,0,721 Bush Street,03/12/2019,190714278,03/12/2019 11:21:55 PM,03/12/2019 11:23:42 PM,03/12/2019 11:33:47 PM,San Francisco,94108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Nob Hill,"(37.79004100002966, -122.40916100000001)"
490556,19030540,0,168 Hyde Street,03/13/2019,190720007,03/13/2019 12:02:37 AM,03/13/2019 12:06:20 AM,03/13/2019 12:11:08 AM,San Francisco,94102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Tenderloin,"(37.782285000029646, -122.41554699999999)"

In [20]:
df_X = read_df.drop(['Number of Alarms', 'Number of floors with minimum damage', 'Number of floors with significant damage', 'Ignition Cause', 'Number of floors with heavy damage', 'Number of floors with extreme damage', 'Detector Failure Reason', 'Number of Sprinkler Heads Operating', 'Item First Ignited', 'Automatic Extinguishing Sytem Type', 'Automatic Extinguishing Sytem Perfomance', 'Automatic Extinguishing Sytem Failure Reason', 'Supervisor District', 'Neighborhood  District'  ], axis = 1)

In [21]:
df_X.describe()

,Incident Number,Exposure Number,Call Number,Zipcode,Suppression Units,Suppression Personnel,EMS Units,EMS Personnel,Other Units,Other Personnel,Estimated Property Loss,Estimated Contents Loss,Fire Fatalities,Fire Injuries,Civilian Fatalities,Civilian Injuries,Floor of Fire Origin
count,4.905570e+05,490557.000000,4.905570e+05,417754.000000,490557.000000,490557.000000,490557.000000,490557.000000,490557.000000,490557.000000,1.283990e+05,1.355060e+05,490557.000000,490557.000000,490557.000000,490557.000000,8143.000000
mean,1.075417e+07,0.000045,1.087612e+08,94113.480062,2.536606,9.125166,0.176071,0.326225,0.034500,0.063151,4.927927e+03,1.906946e+03,0.000004,0.000300,0.000061,0.001164,2.276311
std,4.701487e+06,0.009253,4.692795e+07,10.171593,8.918681,23.038565,0.784429,1.197361,1.452718,1.522060,3.122298e+05,2.755932e+05,0.002856,0.025974,0.009253,0.065775,5.762561
min,3.000001e+06,0.000000,3.001000e+07,94102.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.500000e+04,-5.000000e+03,0.000000,0.000000,0.000000,0.000000,-3.000000
25%,7.021794e+06,0.000000,7.074036e+07,94105.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000
50%,1.102821e+07,0.000000,1.108504e+08,94110.000000,2.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,2.000000
75%,1.504672e+07,0.000000,1.512323e+08,94121.000000,3.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,2.000000
max,1.903054e+07,5.000000,1.907200e+08,94158.000000,3333.000000,5960.000000,150.000000,312.000000,1000.000000,1000.000000,1.000000e+08,1.000000e+08,2.000000,9.000000,3.000000,24.000000,105.000000

In [22]:
df_X['Detector Operation'].unique()

array([nan, '2 -detector operated', '-', '3 -detector failed to operate',
       '2 detector operated', '1 -fire too small to activate detector',
       'u -undetermined', '1 fire too small to activate detector',
       'u undetermined', '3 detector failed to operate'], dtype=object)

In [23]:
df_X['First Unit On Scene'].unique()

array(['T15', 'E39', 'B03', 'B04', 'E03', 'E51', 'E42', nan, 'E37', 'E10',
       'E15', 'E28', 'B07', 'T07', 'E02', 'E16', 'RS1', 'T17', 'E43',
       'E17', 'E01', 'T01', 'E36', 'E06', 'E48', 'E38', 'E12', 'E44',
       '89', 'T03', 'T13', 'E23', 'E31', '68', 'E20', 'M10', '63', 'E13',
       'AP', 'E41', '57', 'T14', 'E07', 'E29', 'E08', 'E05', 'E33', 'E21',
       'E09', 'E19', 'E11', 'B06', '88', 'B02', 'T18', 'T06', 'E35',
       'E14', '92', 'RS2', 'M17', 'T11', '93', 'E25', 'T10', 'E26', 'T19',
       'E22', 'E34', 'E32', 'T09', 'T16', 'M36', 'E18', '85', 'T05',
       'E40', 'T08', 'B01', '67', 'T02', 'D3', 'B10', 'B08', 'T12', 'RC3',
       'B09', 'M05', 'E24', '86', '74', 'RC2', 'M14', 'D2', '65', '94',
       '79', '96', 'T48', '95', '66', '81', '84', '91', 'RC1', '64', '72',
       'M29', 'M28', 'E47', '71', '54', '87', 'M18', '75', '82', 'RA48',
       'M22', 'M19', '76', 'M43', 'M32', '77', '59', 'M03', '83', '55',
       'OTH', 'M15', '78', 'HT48', 'SR1', 'M38', 'M09', 'M51', 'FB1',
       'M01', 'M21', 'AR1', 'M06', 'CR1', '61', '58', 'M12', '99', 'M08',
       'M07', 'M13', 'M11', '60', '62', 'RC4', 'B05', 'M02', 'M41', 'M39',
       '56', 'B11', 'EMS6', 'CD1', 'MA1', 'SO1', '73', 'PC1', 'UU1', 'CC',
       'M48', 'HZ1', 'MP25', 'RC5', 'MP32', 'CO2', '52', 'E2', 'OES',
       'T51', 'M35', 'CD2', 'BE1', '98', '51', 'FB2', 'TCA11', '53',
       'MP44', 'OES248'], dtype=object)

In [24]:
df_X['Action Taken Secondary'].unique()

array(['-', nan, '86 - investigate', '12 - salvage & overhaul',
       '33 - provide advanced life support (als)',
       '82 - notify other agencies.', '34 - transport person',
       '70 - assistance, other', '51 - ventilate', '66 - remove water',
       '31 - provide first aid & check for injuries',
       '65 - secure property', '87 - investigate - fire out on arrival',
       '63 - restore fire alarm system',
       '42 - hazmat detect/monitor/sampling & analysis',
       '47 - decontaminate occupancy or area',
       '11 extinguishment by fire service personnel',
       '52 - forcible entry', '85 - enforce code',
       '40 - hazardous condition, other', '73 - provide manpower',
       '71 - assist physically disabled', '51 ventilate',
       '12 salvage & overhaul', '64 shut down system',
       '64 - shut down system', '81 - incident command',
       '11 - extinguish', '78 - control traffic',
       '55 - establish safe area', '92 - standby',
       '63 restore fire alarm system',
       '32 - provide basic life support (bls)', '76 - provide water',
       '75 - provide equipment', '62 - restore fire protection system',
       '84 - refer to proper authority', '77 - control crowd',
       '43 - hazmat spill control and confinement',
       '44 - hazmat leak, control & containment', '86 investigate',
       '30 - emergency medical services, other',
       '22 - rescue, remove from harm',
       '46 - decontaminate persons or equipment', '53 - evacuate area',
       '45 - remove hazard', '40 hazardous condition, other',
       '48 - remove hazardous materials', '72 - assist animal',
       '22 rescue, remove from harm', '14 - contain fire (wildland)',
       '80 - information/invest. & enforcement, other',
       '23 - extricate, disentangle', '74 - provide apparatus',
       '84 refer to proper authority', '21 - search',
       '60 - systems and services, other', '92 standby',
       '93 - cancelled enroute',
       '62 restore sprinkler or fire protection system',
       '83 provide information to public or media',
       '13 - establish fire lines (wildfire)', '52 forcible entry',
       '61 - restore municipal services', '24 - recover body',
       '83 - provide information to public/media',
       '20 - search & rescue, other', '65 secure property',
       '20 search & rescue, other',
       '31 provide first aid & check for injuries',
       '54 - determine if materials are non-hazardous',
       '10 - fire, other', '16 - control fire (wildland)',
       '82 notify other agencies.',
       '50 - fires/rescue & haz conditions, other',
       '90 - fill-in, standby, other', '23 extricate, disentangle',
       '79 - assess severe weather/nat dis. damage',
       '17 - manage prescibed fire (wildland)',
       '33 provide advanced life support (als)', '45 remove hazard',
       '55 establish safe area', '75 provide equipment',
       '57 - provide light or electrical power', '21 search',
       '00 action taken, other', '24 recover body',
       '10 fire control or extinguishment, other', '73 provide manpower',
       '34 transport person', '70 assistance, other',
       '87 investigate fire out on arrival',
       '41 - identify, analyze hazardous materials',
       '44 hazardous materials leak control & containment',
       '54 determine if materials are non-hazardous',
       '60 systems and services, other', '53 evacuate area',
       '50 fires, rescues & hazardous conditions, other',
       '91 - fill-in or moveup', '58 - operate apparatus or vehicle',
       '30 emergency medical services, other',
       '15 - confine fire (wildland)',
       '43 hazardous materials spill control and confinement',
       '74 provide apparatus', '85 enforce codes', '78 control traffic',
       '71 assist physically disabled', '66 remove water',
       '32 provide basic life support (bls)',
       '42 hazmat detection, monitoring, sampling, & analysis',
       '14 contain fire (wildland)', '93 cancelled en route',
       '41 identify, analyze hazardous materials', '72 assist animal',
       '16 control fire (wildland)',
       '80 information, investigation & enforcement, other',
       '48 remove hazardous materials', '61 restore municipal services',
       '15 confine fire (wildland)', '47 decontaminate occupancy or area',
       '76 provide water', '81 incident command',
       '79 assess severe weather or natural disaster damage',
       '90 fill-in, standby, other', '77 control crowd',
       '58 operate apparatus or vehicle'], dtype=object)

In [25]:
df_X.count()

Incident Number                           490557
Exposure Number                           490557
Address                                   490335
Incident Date                             490557
Call Number                               490557
Alarm DtTm                                490557
Arrival DtTm                              490524
Close DtTm                                490556
City                                      489038
Zipcode                                   417754
Battalion                                 490557
Station Area                              489750
Box                                       192727
Suppression Units                         490557
Suppression Personnel                     490557
EMS Units                                 490557
EMS Personnel                             490557
Other Units                               490557
Other Personnel                           490557
First Unit On Scene                       329809
Estimated Property Loss                   128399
Estimated Contents Loss                   135506
Fire Fatalities                           490557
Fire Injuries                             490557
Civilian Fatalities                       490557
Civilian Injuries                         490557
Primary Situation                         490557
Mutual Aid                                490557
Action Taken Primary                      490556
Action Taken Secondary                    348250
Action Taken Other                        337260
Detector Alerted Occupants                341663
Property Use                              489933
Area of Fire Origin                        29788
Ignition Factor Primary                    29784
Ignition Factor Secondary                  24175
Heat Source                                29787
Human Factors Associated with Ignition     29776
Structure Type                             11281
Structure Status                           11166
Floor of Fire Origin                        8143
Fire Spread                                 9595
No Flame Spead                            159757
Detectors Present                          11161
Detector Type                              10445
Detector Operation                         10445
Detector Effectiveness                     10177
Automatic Extinguishing System Present     11189
Location                                  426807
dtype: int64

In [26]:
df_X.shape

(490557, 49)

In [27]:
df_X['Fire Spread'].unique()

array([nan, '-', '20 -furniture, utensils, other',
       '25 -appliance housing or casing', '00 -item first ignited, other',
       '12 -exterior wall covering or finish',
       '10 -structural component or finish, other',
       '14 -floor covering or rug/carpet/mat',
       '17 -structural member or framing',
       '81 -electrical wire, cable insulation',
       '32 -bedding; blanket, sheet, comforter',
       '23 -cabinetry (including built-in)', '31 -mattress, pillow',
       '96 -rubbish, trash, or waste', '97 -oily rags',
       '76 -cooking materials, inc. edible materia',
       '34 -wearing apparel not on a person',
       '11 -exterior roof covering or finish',
       '15 -int. wall cover  exclude drapes, etc.',
       '16 -interior ceiling covering or finish', 'uu -undetermined',
       '70 -organic materials, other',
       '18 -insulation within structural area',
       '92 -magazine, newspaper, writing paper',
       '13 -exterior trim, including doors',
       '33 -linen; other than bedding',
       '51 -box, carton, bag, basket, barrel', '26 -household utensils',
       '65 -flammable liquid/gas - uncontained', '86 -fence, pole',
       '94 -dust/fiber/lint. inc. sawdust, excelsi',
       '30 -soft goods, wearing apparel, other',
       '72 -light vegetation - no crops, inc. gras',
       '37 -raw goods, incl. fabrics and yarn',
       '21 -upholstered sofa, chair, vehicle seats',
       '64 -flam liq/gas in container or pipe',
       '59 -rolled, wound material (paper, fabric)',
       '36 -curtains, blinds, drapery, tapestry',
       '53 -pallet, skid (empty)', '41 -christmas tree',
       '50 -storage supplies, other',
       '62 -flam. liq/gas-in/from engine or burner',
       '60 -liquids, piping, filters, other',
       '63 -flam liq/gas-in/from final container',
       '40 -adornment, recreational mat., signs, o',
       '95 -film, residue, including paint & resin',
       '17 structural member or framing',
       '66 -pipe, duct, conduit or hose', '45 -toy or game',
       '46 -awning, canopy', '22 -non-upholstered chair, bench',
       '52 -material being used to make a product', '91 -book',
       '61 -atomized liq., vaporized liq.,aersol',
       '44 -chips, including wood chips',
       '43 -sign, inc. outdoor sign/billboards',
       '55 -packing, wrapping material',
       '10 structural component or finish, other', '42 -decoration',
       '57 -bulk storage', '35 -wearing apparel on a person',
       '82 -transformer, including transformer flu',
       '88 -pyrotechnics, explosives', '75 -human living or dead',
       '38 -luggage', '77 -feathers or fur, not on bird or animal',
       '00 item first ignited, other',
       '61 atomized liquid, vaporized liquid, aerosol.',
       '11 exterior roof covering, surface, finish',
       '47 -tarpaulin or tent', '67 -pipe, duct, conduit, hose covering',
       '71 -crop, incl. fruits and vegitables',
       '50 storage supplies, other',
       '32 bedding; blanket, sheet, comforter',
       '12 exterior sidewall covering, surface, finish',
       '20 furniture, utensils, other',
       '15 interior wall covering excluding drapes, etc.',
       '70 organic materials, other', 'uu undetermined'], dtype=object)

In [28]:
df_X['Primary Situation'].unique()

array(['551 - assist pd or other govern. agency',
       '745 - alarm system sounded/no fire-accidental',
       '711 - municipal alarm system, street box false',
       '746 - co detector activation, no co',
       '700 - false alarm or false call, other',
       '113 cooking fire, confined to container',
       '550 - public service assistance, other',
       '735 - alarm system sounded due to malfunction',
       '710 - malicious, mischievous false call, other',
       '500 - service call, other', '522 - water or steam leak',
       '111 - building fire',
       '744 - detector activation, no fire - accident',
       '323 - auto/ped. accident (veh.)', '600 - good intent call, other',
       '736 - co detector activation/malfunction',
       '730 - system malfunction, other', '554 - assist invalid',
       '440 - elec. wiring/equip. problem, other',
       '900 - special type of incident, other',
       '463 - vehicle accident, general cleanup',
       '911 - citizen complaint',
       '151 - outside rubbish, trash or waste fire',
       '733 - smoke detector activation/malfunction', '511 - lock-out',
       '411 - gasoline or other flammable liquid spill',
       '324 - motor vehicle accident with no injuries.',
       '322 - vehicle accident with injuries',
       '743 - smoke detector, no fire, accidental',
       '113 - cooking fire, confined to container',
       '154 - dumpster/outside trash receptacle fire',
       '320 - emergency medical services, other',
       '331 - lock-in (if lock out , use 511 )',
       '444 - power line down (wire)',
       '412 - gas leak (natural gas or lpg)',
       '611 - dispatched & canceled en route',
       '311 - medical assist, assist ems crew',
       '118 - trash or rubbish fire, contained', '552 - police matter',
       '651 - smoke scare, odor of smoke', '520 - water problem, other',
       '740 - unintentional alarm, other', '531 - smoke or odor removal',
       '715 - local alarm sys., malicious false alarm',
       '300 - rescue, ems call, other',
       '150 - outside rubbish fire, other',
       '622 - no incident found on arrival/disp. addr.',
       '672 - biological hazard investigation,none found',
       '357 - extrication of victim(s) from machinery',
       '381 - rescue or ems standby',
       '251 - excess heat, scorth burns with no ign.',
       '421 - chemical hazard (no spill or leak)',
       '131 - passenger vehicle fire',
       '321 - ems excluding veh. accident w/injuries',
       '132 - road freight or transport vehicle fire',
       '650 - steam/gas mistaken for smoke, other',
       '632 - prescribed fire', '400 - hazardous condition, other',
       '712 - direct tie to fd, malicious/false alarm',
       '713 - telephone, malicious false alarm',
       '661 - ems call, party transported by non-fire ag',
       '553 - public service', '143 - grass fire',
       '445 - arcing, shorted electrical equipment',
       '353 - removal of victim(s) from stalled elev.',
       '442 - overheated motor',
       '123 - fire in portable bldg., fixed location',
       '653 - barbecue, tar kettle', '521 - water evacuation',
       '731 - sprinkler activation due to malfunction',
       '243 - fireworks explosion (no fire)',
       '422 - chemical spill or leak(haz.)',
       '652 - steam/vapor/fog/dust mistaken for smoke',
       '160 - special outside fire, other',
       '424 - carbon monoxide incident', '364 - surf rescue',
       '352 - extrication of victim(s) from vehicle',
       '462 - aircraft standby',
       '671 - hazmat release investigation w/no hazmat',
       '443 - light ballast breakdown',
       '413 - oil or other combustible liquid spill',
       '342 - search for person in water',
       '112 - fires in struct. other than in a bldg.',
       '510 - person in distress, other',
       '221 - rupture air or gas, pipe/pipline',
       '600 good intent call, other',
       '460 - accident, potential accident, other',
       '371 - electrocution or potential electrocution',
       '734 - heat detector activation/malfunction',
       '714 - central station, malicious false alarm',
       '445 arcing, shorted electrical equipment',
       '350 - extrication, rescue, other',
       '320 emergency medical service incident, other',
       '130 - mobile property (vehicle) fire, other',
       '741 - sprinkler activation/no fire-accidental',
       '134 - water vehicle fire (boat, ship, etc.)',
       '732 - exting. sys. activation/ malfunction',
       '451 - biological hazard, confirmed or suspected',
       '142 - brush, or brush and grass mixture fire',
       '443 breakdown of light ballast', '365 watercraft rescue',
       '100 - fire, other', '151 outside rubbish, trash or waste fire',
       '561 unauthorized burning', '210 - steam rupture, steam, other',
       '423 - refrigeration leak', '512 - ring or jewelry removal',
       '111 building fire', '742 - extinguishing system activation',
       '542 - animal rescue', '555 - defective elevator, no occupants',
       '711 municipal alarm system, malicious false alarm',
       '641 - vicinity alarm (incid. another location)',
       '140 - natural vegetation fire, other',
       '116 fuel burner/boiler malfunction, fire confined',
       '651 smoke scare, odor of smoke',
       '118 trash or rubbish fire, contained',
       '412 gas leak (natural gas or lpg)',
       '114 - chimney/flue fire, confined to chimney', '10 -',
       '200 overpressure rupture, explosion, overheat other',
       '442 overheated motor', '133 - rail vehicle fire',
       '420 - toxic condition, other (haz.)',
       '322 motor vehicle accident with injuries',
       '154 dumpster or other outside trash receptacle fire',
       '211 - steam rupture, pipe or pipeline', '100 fire, other',
       '323 motor vehicle/pedestrian accident (mv ped)',
       '410 - flammable gas or liquid condition, other',
       '164 - outside mailbox fire', '300 rescue, ems incident, other',
       '220 overpressure rupture from air or gas, other',
       '138 - off-road vehicle or heavy equipment fire',
       '650 steam, other gas mistaken for smoke, other',
       '223 - air/gas rupture of pressure or process',
       '621 - wrong location', '162 - outside equipment fire',
       '441 - heat- short circuit, defect/worn wiring',
       '242 - blasting agent explosion (no fire)',
       '700 false alarm or false call, other',
       '324 motor vehicle accident with no injuries.',
       '114 chimney or flue fire, confined to chimney or flue',
       '117 - commercial compactor fire, rubbish only',
       '735 alarm system sounded due to malfunction',
       '571 - cover assignment, standby, moveup',
       '356 - high angle rescue', '721 - bomb scare - no bomb',
       '360 - water & ice related rescue, other',
       '351 - extrication of victim(s) from structure',
       '361 - swimming/recreational water areas rescue',
       '340 - search, other', '365 - watercraft rescue',
       '652 steam, vapor, fog or dust thought to be smoke',
       '220 - rupture from air or gas, other',
       '813 - wind storm, tornado/hurricane assessment',
       '540 - animal problem, other',
       '241 - munitions or bomb explosion (no fire)',
       '354 - trench/below grade rescue',
       '341 - search for person on land',
       '170 - cultivated vegetation, crop fire, other',
       '240 - explosion (no fire), other',
       '480 - attempted burning, illegal action, other',
       '471 - explosive/bomb removal(bomb scare =721)', '1 -',
       '463 vehicle accident, general cleanup',
       '240 explosion (no fire), other',
       '200 - overpressure rupture/explosion, overheat',
       '800 - severe weather/nat. disaster, other',
       '812 - flood assessment', '481 - attempt to burn', 'y -',
       '370 - electrical rescue, other',
       '173 - cultivated trees or nursery stock fire',
       '500 service call, other', '150 outside rubbish fire, other',
       '730 system malfunction, other', 'n/a -', '143 grass fire',
       '631 - authorized controlled burning',
       '155 - outside compactor/compacted trash fire',
       '355 - confined space rescue', '482 - threat to burn',
       '364 surf rescue', '213 - steam rupture, pressure/process vessel',
       '441 heat from short circuit (wiring), defective/worn',
       '115 - incinerator overload/mal.,fire confined',
       '116 - fuel burner/boiler mal., fire coinfined',
       '160 special outside fire, other',
       '733 smoke detector activation due to malfunction',
       '212 - overpressure rupture of steam boiler',
       '251 excessive heat, scorch burns with no ignition',
       '356 high-angle rescue', '561 - unauthorized burning',
       '161 - outside storage fire',
       '745 alarm system activation, no fire - unintentional',
       '511 lock-out', '611 dispatched & canceled en route',
       '461 - bldg/structure weakened or collapsed',
       '531 smoke or odor removal',
       '137 - camper or recreational vehicle (rv) fire',
       '311 medical assist, assist ems crew',
       '122 - fire in motor home, camper or rv',
       '163 - outside gas/vapor combustion explosion',
       '653 smoke from barbecue, tar kettle',
       '141 - forest, woods or wildland fire', '554 assist invalid',
       '421 chemical hazard (no spill or leak)',
       '550 public service assistance, other',
       '152 - garbage dump or sanitary landfill fire',
       '710 malicious, mischievous false call, other', 'cr -',
       '743 smoke detector activation, no fire - unintentional',
       '153 - construction or demolition landfill fire',
       '410 combustible/flammable gas/liquid condition, other',
       '900 special type of incident, other',
       '112 fires in structure other than in a building',
       '372 - trapped by power lines', '541 - animal problem',
       '440 electrical  wiring/equipment problem, other',
       '671 hazmat release investigation w/no hazmat',
       '381 rescue or ems standby',
       '751 - biological hazard, malicious false report',
       '363 - swift water rescue',
       '622 no incident found on arrival at dispatch address',
       '343 - search for person underground',
       '631 authorized controlled burning',
       '121 - fire in mob. home used as residence',
       '815 - severe weather/nat. disaster standby',
       '342 search for person in water',
       '360 water & ice-related rescue, other',
       '152 garbage dump or sanitary landfill fire',
       '744 detector activation, no fire - unintentional',
       '522 water or steam leak', '510 person in distress, other',
       '134 water vehicle fire',
       '714 central station, malicious false alarm',
       '361 swimming/recreational water areas rescue',
       '460 accident, potential accident, other',
       '140 natural vegetation fire, other',
       '142 brush or brush-and-grass mixture fire',
       '244 - dust explosion (no fire)', '400 hazardous condition, other',
       '362 - ice rescue', '814 - lightning strike (no fire)',
       '713 telephone, malicious false alarm',
       '422 chemical spill or leak',
       '222 - rupture of boiler from air or gas',
       '131 passenger vehicle fire', '444 power line down',
       '353 removal of victim(s) from stalled elevator',
       '321 ems call, excluding vehicle accident with injury',
       '451 biological hazard, confirmed or suspected',
       '231 - chem. reaction rupture of process vessel',
       '742 extinguishing system activation',
       '811 - earthquake assessment', '462 aircraft standby',
       '411 gasoline or other flammable liquid spill',
       '741 sprinkler activation, no fire - unintentional',
       '520 water problem, other',
       '132 road freight or transport vehicle fire',
       '551 assist police or other governmental agency',
       '137 camper or recreational vehicle (rv) fire', '71 -',
       '136 - self-propelled motor home or rv',
       '341 search for person on land',
       '120 - fire mob.prop. used as fixed structure',
       '120 fire in mobile prop. used as a fixed struc., other',
       '352 extrication of victim(s) from vehicle',
       '732 extinguishing system activation due to malfunction',
       '350 extrication, rescue, other', '542 animal rescue',
       '420 toxic condition, other',
       '740 unintentional transmission of alarm, other',
       '130 mobile property (vehicle) fire, other', '25* -', '11 -',
       '431 - radiation leak, radioactive material',
       '354 trench/below-grade rescue', '721 bomb scare - no bomb',
       '161 outside storage fire',
       '715 local alarm system, malicious false alarm',
       '243 fireworks explosion (no fire)', '135 - aircraft fire',
       '162 outside equipment fire', '423 refrigeration leak',
       '211 overpressure rupture of steam pipe or pipeline',
       '672 biological hazard investigation, none found',
       '553 public service',
       '115 incinerator overload or malfunction, fire confined', '75 -',
       '430 - radioactive condition, other',
       '424 carbon monoxide incident',
       '751 biological hazard, malicious false report',
       '552 police matter', '212 overpressure rupture of steam boiler',
       '163 outside gas or vapor combustion explosion',
       '734 heat detector activation due to malfunction',
       '911 citizen complaint',
       '712 direct tie to fd, malicious false alarm',
       '413 oil or other combustible liquid spill',
       '431 radiation leak, radioactive material',
       '331 lock-in (if lock out , use 511 )',
       '746 carbon monoxide detector activation, no co',
       '800 severe weather or natural disaster, other',
       '512 ring or jewelry removal',
       '351 extrication of victim(s) from building/structure',
       '813 wind storm, tornado/hurricane assessment',
       '736 co detector activation due to malfunction',
       '1230 fire in portable building (port-a-potty)',
       '621 wrong location', '210 overpressure rupture from steam, other',
       '141 forest, woods or wildland fire',
       '641 vicinity alarm (incident in other location)',
       '815 severe weather or natural disaster standby',
       '223 air or gas rupture of pressure or process vessel',
       '555 defective elevator, no occupants',
       '661 ems call, party transported by non-fire agency',
       '540 animal problem, other', '812 flood assessment',
       '731 sprinkler activation due to malfunction',
       '357 extrication of victim(s) from machinery',
       '363 swift water rescue',
       '153 construction or demolition landfill fire',
       '521 water evacuation',
       '480 attempted burning, illegal action, other',
       '632 prescribed fire',
       '155 outside stationary compactor/compacted trash fire',
       '117 commercial compactor fire, confined to rubbish',
       '221 overpressure rupture of air or gas pipe/pipeline',
       '461 building or structure weakened or collapsed',
       '471 explosive, bomb removal (for bomb scare, use 721)',
       '241 munitions or bomb explosion (no fire)',
       '370 electrical rescue, other',
       '123 fire in portable building, fixed location',
       '231 chemical reaction rupture of process vessel',
       '222 overpressure rupture of boiler from air or gas',
       '170 cultivated vegetation, crop fire, other',
       '571 cover assignment, standby, moveup',
       '355 confined space rescue',
       '371 electrocution or potential electrocution',
       '164 outside mailbox fire', '481 attempt to burn',
       '136 self-propelled motor home or recreational vehicle',
       '340 search for lost person, other', '541 animal problem',
       '173 cultivated trees or nursery stock fire',
       '372 trapped by power lines',
       '138 off-road vehicle or heavy equipment fire',
       '121 fire in mobile home used as fixed residence',
       '482 threat to burn', '135 aircraft fire',
       '122 fire in motor home, camper, recreational vehicle',
       '133 rail vehicle fire',
       '213 steam rupture of pressure or process vessel',
       '1600 tent/encampment fire', '814 lightning strike (no fire)',
       '4000 tent/encampment hazardous condition'], dtype=object)

In [29]:
df_X['Action Taken Other'].unique()

array(['-', nan, '86 - investigate',
       '83 - provide information to public/media', '51 - ventilate',
       '63 - restore fire alarm system', '52 - forcible entry',
       '70 - assistance, other', '85 - enforce code',
       '34 - transport person', '71 - assist physically disabled',
       '78 - control traffic', '72 - assist animal',
       '84 - refer to proper authority', '12 salvage & overhaul',
       '81 - incident command', '87 - investigate - fire out on arrival',
       '92 - standby', '33 - provide advanced life support (als)',
       '82 - notify other agencies.',
       '32 - provide basic life support (bls)', '45 - remove hazard',
       '55 - establish safe area', '66 - remove water',
       '65 - secure property', '64 - shut down system',
       '20 search & rescue, other', '86 investigate',
       '23 extricate, disentangle', '15 - confine fire (wildland)',
       '62 - restore fire protection system',
       '31 - provide first aid & check for injuries', '21 - search',
       '77 - control crowd',
       '80 - information/invest. & enforcement, other',
       '40 - hazardous condition, other', '75 - provide equipment',
       '22 - rescue, remove from harm',
       '47 - decontaminate occupancy or area',
       '43 - hazmat spill control and confinement',
       '63 restore fire alarm system', '16 - control fire (wildland)',
       '51 ventilate', '14 - contain fire (wildland)',
       '73 - provide manpower',
       '62 restore sprinkler or fire protection system',
       '12 - salvage & overhaul', '90 - fill-in, standby, other',
       '30 - emergency medical services, other',
       '44 - hazmat leak, control & containment',
       '20 - search & rescue, other', '34 transport person',
       '53 - evacuate area', '24 - recover body',
       '54 - determine if materials are non-hazardous',
       '87 investigate fire out on arrival',
       '60 - systems and services, other', '70 assistance, other',
       '46 - decontaminate persons or equipment',
       '84 refer to proper authority', '73 provide manpower',
       '50 - fires/rescue & haz conditions, other', '52 forcible entry',
       '61 - restore municipal services', '74 - provide apparatus',
       '93 - cancelled enroute', '56 - provide air supply',
       '76 - provide water', '48 - remove hazardous materials',
       '11 extinguishment by fire service personnel',
       '65 secure property', '33 provide advanced life support (als)',
       '21 search', '64 shut down system', '82 notify other agencies.',
       '11 - extinguish', '48 remove hazardous materials',
       '53 evacuate area', '45 remove hazard', '00 action taken, other',
       '81 incident command', '31 provide first aid & check for injuries',
       '30 emergency medical services, other', '66 remove water',
       '79 assess severe weather or natural disaster damage',
       '44 hazardous materials leak control & containment',
       '42 hazmat detection, monitoring, sampling, & analysis',
       '22 rescue, remove from harm', '55 establish safe area',
       '16 control fire (wildland)',
       '43 hazardous materials spill control and confinement',
       '85 enforce codes', '78 control traffic',
       '80 information, investigation & enforcement, other',
       '32 provide basic life support (bls)',
       '14 contain fire (wildland)', '92 standby', '75 provide equipment',
       '76 provide water', '60 systems and services, other',
       '41 identify, analyze hazardous materials',
       '50 fires, rescues & hazardous conditions, other',
       '10 fire control or extinguishment, other',
       '40 hazardous condition, other',
       '54 determine if materials are non-hazardous',
       '71 assist physically disabled',
       '47 decontaminate occupancy or area',
       '83 provide information to public or media', '24 recover body',
       '74 provide apparatus', '46 decontaminate persons or equipment'],
      dtype=object)

In [30]:
df_X1 = df_X.drop(['Human Factors Associated with Ignition','Arrival DtTm', 'Close DtTm', 'No Flame Spead', 'Mutual Aid','City','Fire Spread','Detector Type','Detector Operation','Detector Effectiveness', 'Primary Situation', 'Other Units'
 ,'Other Personnel', 'Action Taken Other', 'Action Taken Secondary', 'First Unit On Scene', 'Call Number','Station Area' ], axis=1)

In [31]:
df_X1['Action Taken Primary'].head(10)

0    52 - forcible entry
1       86 - investigate
2       86 - investigate
3       86 - investigate
4       86 - investigate
5       86 - investigate
6       86 - investigate
7      52 forcible entry
8       86 - investigate
9       86 - investigate
Name: Action Taken Primary, dtype: object

In [32]:
df_X1['Structure Status'].unique()

array([nan, '2 -in normal use', '-', '3 -idle, not routinely used',
       '5 -vacant and secured', '2 in normal use',
       '6 -vacant and unsecured', '0 -other', '1 -under construction',
       '4 -under major renovation', '1 under construction',
       '4 under major renovation', 'u -undetermined',
       '7 -being demolished', 'u undetermined', '5 vacant and secured',
       '0 building status, other', '6 vacant and unsecured',
       '3 idle, not routinely used', '7 being demolished'], dtype=object)

In [33]:
df_X1['Structure Type'].unique()

array([nan, '1 -enclosed building', '3 -open structure', '-',
       '2 -fixed portable or mobile structure', '1 enclosed building',
       '0 -structure type, other', '5 -tent', '6 -open platform',
       '7 -underground structure work areas', '8 -connective structure',
       '0 structure type, other', '4 -air supported structure',
       '3 open structure', '6 open platform', '8 connective structure',
       '2 fixed portable or mobile structure',
       '7 underground structure work area', '4 air-supported structure',
       '5 tent'], dtype=object)

In [34]:
df_X1['Floor of Fire Origin'].unique()

array([ nan,   3.,   0.,   1.,   2.,   5.,   4.,   7.,  11.,  10.,  25.,
        12.,   8.,   6.,  15.,  14., 102.,   9.,  17.,  -3.,  -1.,  44.,
       104.,  19.,  13.,  18.,  30.,  22., 103.,  23.,  24.,  37.,  27.,
        29., 101.,  16.,  38.,  26.,  20., 105.,  -2.,  34.,  32.])

In [35]:
df_X1['Automatic Extinguishing System Present'].unique()

array([nan, 'n -none present', '-', '1 -present', 'u -undetermined',
       'n none present', '1 present', 'u undetermined',
       '2 -partial system present', '2 partial system present'],
      dtype=object)

In [36]:
df_X1.shape

(490557, 31)

In [37]:
df_X1['Area of Fire Origin'].unique()
#df_aor = df_X1[df_X1['Area of Fire Origin'] == 'nan']

array([nan, '21 - bedroom-<5 persons; inc. jail or pris',
       '40 - storage area, other', '24 - cooking area, kitchen',
       '43 - storage: supplies or tools; dead stor',
       '14 - common room, den, family/living room',
       '72 - exterior balcony, unenclosed porch', '-',
       '81 - operator/passenger area/transport equ',
       '83 - engine area, running gear, wheel area',
       '95 - wildland, woods', '74 - attic: vacant, crawl space',
       '00 - other', '70 - structural area, other', '97 - multiple areas',
       '22 - bedroom-5+persons; inc. barrack/dorms',
       '80 - vehicle area, other', 'uu - undetermined',
       '92 - highway, parking lot, street: on or n',
       '77 - roof surface: exterior', '90 - outside area, other',
       '41 - storage room, area, tank, or bin',
       '94 - open area - outside; inc. are farmlan',
       '26 - laundry area, wash house (laundry)',
       '60 - equipment or service area, other',
       '14 common room, den, family room, living room, lounge',
       '86 - exterior, exposed surface', '24 cooking area, kitchen',
       '20 - function area, other', '01 hallway corridor, mall',
       '93 - courtyard, patio, porch, terrace',
       '02 - exterior stairway, ramp, or fire esca', '27 - office',
       '47 - vehicle storage area; garage, carport',
       '21 bedroom - < 5 persons; included are jail or prison',
       '90 outside area, other', '82 - cargo/trunk area - all vehicles',
       '26 laundry area, wash house (laundry)',
       '76 - wall surface: exterior', '75 - wall assembly',
       '05 entranceway, lobby', '78 - awning',
       '25 - bathroom, checkroom, locker room',
       '46 - chute/container - trash, rubbish, was',
       '41 storage room, area, tank, or bin', '53 - light shaft',
       '54 chute; laundry or mail, excluding trash chutes',
       '76 wall surface: exterior', '05 - entrance way, lobby',
       '09 - egress/exit, other',
       '15 - sales area, showroom, not display win',
       '91 - railroad right of way: on or near',
       '94 open area, outside; included are farmland, field',
       '44 - records storage room, storage vault',
       '71 - substructure area or space, crawl spa', '42 - closet',
       '23 - bar area, bev. service area, cafeteri', '0 -',
       '40 storage area, other',
       '63 - switchgear area, transformer vault',
       '45 - ship/reieve area; area, dock or bay',
       '96 - construction/renovation area',
       '50 service facilities, other',
       '52 - conduit, pipe, utility, or vent. shaf',
       '61 - machinery room or area; elevator mach',
       '03 - interior stairway or ramp', '01 - corridor, mall',
       '13 - assembly area - less than 100 persons',
       '10 - assembly or sales area, other', '77 roof surface: exterior',
       '62 - heating room or area, water heater ar',
       '84 - fuel tank, fuel line',
       '23 dining room, cafeteria, bar area, beverage service',
       '85 - operator/control area of transportati',
       '35 - computer room, control room or center',
       '73 - ceiling/floor assembly, area btwn flo',
       '47 vehicle storage area; garage, carport',
       '46 chute/container - trash, rubbish, waste',
       '63 switchgear area, transformer vault',
       '02 exterior stairway, ramp, or fire escape',
       '70 structural area, other',
       '54 - chute; laundry or mail, excluding tra',
       '98 - vacant structural area', 'uu undetermined',
       '00 other area of fire origin',
       '30 - technical processing areas, other',
       '55 - duct: hvac, cable, exhaust, heat of a',
       '43 storage: supplies or tools; dead storage',
       '93 courtyard, patio, terrace',
       '72 exterior balcony, unenclosed porch',
       '36 - stage area - bball court, boxing ring', '31 - laboratory',
       '61 machinery room or area; elevator machinery room',
       '96 construction/renovation area',
       '16 - art gallery, exhibit hall, library',
       '50 - service facilities, other',
       '10 assembly or sales area, other',
       '81 operator/passenger area of transportation equipment',
       '25 bathroom, checkroom, lavatory, locker room',
       '28 - barber/beauty salon', '64 - incinerator area',
       '86 exterior, exposed surface',
       '83 engine area, running gear, wheel area', '42 closet',
       '38 - processing/manufacturing area, workro',
       '56 - display window', '75 wall assembly, concealed wall space',
       '15 sales area, showroom (excludes display window)',
       '12 - assembly area w/o fixed seats - 100+',
       '52 conduit, pipe, utility, or ventilation shaft', '27 office',
       '20 function areas, other',
       '55 duct: hvac, cable, exhaust, heating, or ac',
       '34 - surgery - operating room', '80 vehicle area, other',
       '58 - conveyor', '11 - assembly area w/fixed seats - 100+',
       '09 egress/exit, other', '51 - dumbwaiter or elavator shaft',
       '73 ceiling and floor assembly, crawl space between stories',
       '60 equipment or service area, other',
       '65 - maintenance shop/area, paint shop/are',
       '62 heating room or area, water heater area',
       '74 attic: vacant, crawl space above top story',
       '84 fuel tank, fuel line',
       '65 maintenance shop or area, paint shop or area',
       '45 shipping/receiving area; loading area, dock or bay',
       '32 - dark room, photo area, or printing ar',
       '22 bedroom - 5+ persons; including barrack/dormitory',
       '44 records storage room, storage vault',
       '82 cargo/trunk areaùall vehicles', '03 interior stairway or ramp',
       '04 - escalator - exterior, interior',
       '35 computer room, control room or center',
       '71 substructure area or space, crawl space', '17 - swimming pool',
       '98 vacant structural area',
       '92 highway, parking lot, street: on or near',
       '13 assembly area - less than 100 persons', '95 wildland, woods',
       '28 personal service area, barber/beauty salon area',
       '82 cargo/trunk areaã¹all vehicles', '97 multiple areas',
       '53 light shaft', '68 - enclosure with enriched oxygen atmosp',
       '66 - cell, test', '38 processing/manufacturing area, workroom',
       '37 projection room, spotlight area',
       '11 arena, assembly area w/ fixed seats - 100+ persons',
       '16 art gallery, exhibit hall, library',
       '91 railroad right-of-way: on or near', '78 awning',
       '85 separate operator/control area of transportation equipment',
       '58 conveyor', '56 display window',
       '51 dumbwaiter or elevator shaft',
       '12 assembly area without fixed seats - 100+ persons',
       '32 dark room, photography area, or printing area',
       '33 treatment - first aid area, surgery area',
       '30 technical processing areas, other',
       '82 cargo/trunk areaall vehicles'], dtype=object)

In [38]:
df_X1['Box'].unique()

array([nan, 8571.0, 4163.0, ..., 743, 733, 968], dtype=object)

In [149]:
# # Visualisation
# import matplotlib as mpl
# import matplotlib.pyplot as plt
# import matplotlib.pylab as pylab
# import seaborn as sns

# # Configure visualisations
# %matplotlib inline
# mpl.style.use( 'ggplot' )
# sns.set_style( 'white' )
# pylab.rcParams[ 'figure.figsize' ] = 10, 8

# def plot_correlation_map( df ):
#     corr = df.corr()
#     _ , ax = plt.subplots( figsize =( 20 , 20 ) )
#     cmap = sns.diverging_palette( 220 , 10 , as_cmap = True )
#     _ = sns.heatmap(
#         corr, 
#         cmap = cmap,
#         square=True, 
#         cbar_kws={ 'shrink' : .9 }, 
#         ax=ax, 
#         annot = True, 
#         annot_kws = { 'fontsize' : 8 }
#     )

In [150]:
#plot_correlation_map(df_X1)

In [145]:
df_X1.shape

(490557, 34)

In [146]:
df_X1.head(10)

,Incident Number,Exposure Number,Address,Incident Date,Alarm DtTm,Zipcode,Battalion,Box,Suppression Units,Suppression Personnel,...,Heat Source,Structure Type,Structure Status,Floor of Fire Origin,Detectors Present,Automatic Extinguishing System Present,Location,Weekday,Hour,Month
0,9030109,0,310 Colon Av.,04/12/2009,04/12/2009 06:09:13 PM,NaN,B09,NaN,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,18,4
1,13067402,0,20 Lansdale Av,07/18/2013,07/18/2013 10:32:03 AM,NaN,B09,8571,3,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,10,7
2,12044490,0,7th St. / Folsom St.,05/13/2012,05/13/2012 03:55:37 AM,94103.0,B03,NaN,3,10,...,NaN,NaN,NaN,NaN,NaN,NaN,"(37.7767460000297, -122.407844)",6,3,5
3,13033326,0,2799 Pacific Av,04/09/2013,04/09/2013 04:34:07 PM,NaN,B04,4163,3,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,16,4
4,11101416,0,Polk St. / Pine St.,11/01/2011,11/01/2011 06:07:45 PM,94109.0,B04,NaN,2,9,...,NaN,NaN,NaN,NaN,NaN,NaN,"(37.7896190000297, -122.420497)",1,18,11
5,12077793,0,2824 Scott St.,08/22/2012,08/22/2012 08:58:06 AM,94123.0,B04,NaN,3,11,...,NaN,NaN,NaN,NaN,NaN,NaN,"(37.7960234800297, -122.43998326)",2,8,8
6,7021713,0,San Bruno Av. / Teddy Av.,03/15/2007,03/15/2007 01:55:35 PM,94134.0,B10,NaN,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,"(37.7129950000296, -122.4021)",3,13,3
7,15065212,0,1532 Noriega Street,06/20/2015,06/20/2015 02:44:56 AM,94122.0,B08,7431,8,28,...,NaN,NaN,NaN,NaN,NaN,NaN,"(37.7541490000296, -122.480073)",5,2,6
8,10097225,0,1215 Carolina St.,10/31/2010,10/31/2010 05:14:49 PM,94107.0,B10,NaN,3,10,...,NaN,NaN,NaN,NaN,NaN,NaN,"(37.7533230000297, -122.399403)",6,17,10
9,8033299,0,870 Kansas St.,04/17/2008,04/17/2008 05:54:33 PM,94107.0,B10,NaN,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,"(37.7585613300297, -122.40325885)",3,17,4

In [147]:
# plot_correlation_map(read_df)

In [44]:
from datetime import datetime

def convert_date_to_weekday(tmstp):
    result = datetime.strptime(tmstp, '%m/%d/%Y %I:%M:%S %p').weekday()
    return result
    
def convert_date_to_hour(tmstp):
    result = datetime.strptime(tmstp, '%m/%d/%Y %I:%M:%S %p').hour
    return result

def convert_date_to_month(tmstp):
    result = datetime.strptime(tmstp, '%m/%d/%Y %I:%M:%S %p').month
    return result

In [45]:
df_X1['Weekday'] = df_X1['Alarm DtTm'].apply(lambda x: convert_date_to_weekday(x))

In [46]:
df_X1['Hour'] = df_X1['Alarm DtTm'].apply(lambda x: convert_date_to_hour(x))

In [47]:
df_X1['Month'] = df_X1['Alarm DtTm'].apply(lambda x: convert_date_to_month(x))

In [48]:
df_X2 = df_X1.drop(['Exposure Number','Location', 'Ignition Factor Secondary', 'Heat Source','Floor of Fire Origin','Box' ,'Structure Status','Alarm DtTm', 'Area of Fire Origin', 'Incident Date', 'Incident Number', 'Action Taken Primary','Ignition Factor Primary', 'Structure Type', 'Automatic Extinguishing System Present','Detectors Present','Property Use','Estimated Property Loss','Estimated Contents Loss', 'Detector Alerted Occupants', 'Address'], axis=1)

In [49]:
df_X2.head(10)

,Zipcode,Battalion,Suppression Units,Suppression Personnel,EMS Units,EMS Personnel,Fire Fatalities,Fire Injuries,Civilian Fatalities,Civilian Injuries,Weekday,Hour,Month
0,NaN,B09,1,5,0,0,0,0,0,0,6,18,4
1,NaN,B09,3,11,0,0,0,0,0,0,3,10,7
2,94103.0,B03,3,10,0,0,0,0,0,0,6,3,5
3,NaN,B04,3,10,0,0,0,0,0,0,1,16,4
4,94109.0,B04,2,9,0,0,0,0,0,0,1,18,11
5,94123.0,B04,3,11,0,0,0,0,0,0,2,8,8
6,94134.0,B10,1,4,0,0,0,0,0,0,3,13,3
7,94122.0,B08,8,28,1,2,0,0,0,0,5,2,6
8,94107.0,B10,3,10,0,0,0,0,0,0,6,17,10
9,94107.0,B10,1,4,0,0,0,0,0,0,3,17,4

In [50]:
list(df_X2)

['Zipcode',
 'Battalion',
 'Suppression Units',
 'Suppression Personnel',
 'EMS Units',
 'EMS Personnel',
 'Fire Fatalities',
 'Fire Injuries',
 'Civilian Fatalities',
 'Civilian Injuries',
 'Weekday',
 'Hour',
 'Month']

In [148]:
# plot_correlation_map(df_X2)

In [52]:
df_X1['Area of Fire Origin'].unique()

array([nan, '21 - bedroom-<5 persons; inc. jail or pris',
       '40 - storage area, other', '24 - cooking area, kitchen',
       '43 - storage: supplies or tools; dead stor',
       '14 - common room, den, family/living room',
       '72 - exterior balcony, unenclosed porch', '-',
       '81 - operator/passenger area/transport equ',
       '83 - engine area, running gear, wheel area',
       '95 - wildland, woods', '74 - attic: vacant, crawl space',
       '00 - other', '70 - structural area, other', '97 - multiple areas',
       '22 - bedroom-5+persons; inc. barrack/dorms',
       '80 - vehicle area, other', 'uu - undetermined',
       '92 - highway, parking lot, street: on or n',
       '77 - roof surface: exterior', '90 - outside area, other',
       '41 - storage room, area, tank, or bin',
       '94 - open area - outside; inc. are farmlan',
       '26 - laundry area, wash house (laundry)',
       '60 - equipment or service area, other',
       '14 common room, den, family room, living room, lounge',
       '86 - exterior, exposed surface', '24 cooking area, kitchen',
       '20 - function area, other', '01 hallway corridor, mall',
       '93 - courtyard, patio, porch, terrace',
       '02 - exterior stairway, ramp, or fire esca', '27 - office',
       '47 - vehicle storage area; garage, carport',
       '21 bedroom - < 5 persons; included are jail or prison',
       '90 outside area, other', '82 - cargo/trunk area - all vehicles',
       '26 laundry area, wash house (laundry)',
       '76 - wall surface: exterior', '75 - wall assembly',
       '05 entranceway, lobby', '78 - awning',
       '25 - bathroom, checkroom, locker room',
       '46 - chute/container - trash, rubbish, was',
       '41 storage room, area, tank, or bin', '53 - light shaft',
       '54 chute; laundry or mail, excluding trash chutes',
       '76 wall surface: exterior', '05 - entrance way, lobby',
       '09 - egress/exit, other',
       '15 - sales area, showroom, not display win',
       '91 - railroad right of way: on or near',
       '94 open area, outside; included are farmland, field',
       '44 - records storage room, storage vault',
       '71 - substructure area or space, crawl spa', '42 - closet',
       '23 - bar area, bev. service area, cafeteri', '0 -',
       '40 storage area, other',
       '63 - switchgear area, transformer vault',
       '45 - ship/reieve area; area, dock or bay',
       '96 - construction/renovation area',
       '50 service facilities, other',
       '52 - conduit, pipe, utility, or vent. shaf',
       '61 - machinery room or area; elevator mach',
       '03 - interior stairway or ramp', '01 - corridor, mall',
       '13 - assembly area - less than 100 persons',
       '10 - assembly or sales area, other', '77 roof surface: exterior',
       '62 - heating room or area, water heater ar',
       '84 - fuel tank, fuel line',
       '23 dining room, cafeteria, bar area, beverage service',
       '85 - operator/control area of transportati',
       '35 - computer room, control room or center',
       '73 - ceiling/floor assembly, area btwn flo',
       '47 vehicle storage area; garage, carport',
       '46 chute/container - trash, rubbish, waste',
       '63 switchgear area, transformer vault',
       '02 exterior stairway, ramp, or fire escape',
       '70 structural area, other',
       '54 - chute; laundry or mail, excluding tra',
       '98 - vacant structural area', 'uu undetermined',
       '00 other area of fire origin',
       '30 - technical processing areas, other',
       '55 - duct: hvac, cable, exhaust, heat of a',
       '43 storage: supplies or tools; dead storage',
       '93 courtyard, patio, terrace',
       '72 exterior balcony, unenclosed porch',
       '36 - stage area - bball court, boxing ring', '31 - laboratory',
       '61 machinery room or area; elevator machinery room',
       '96 construction/renovation area',
       '16 - art gallery, exhibit hall, library',
       '50 - service facilities, other',
       '10 assembly or sales area, other',
       '81 operator/passenger area of transportation equipment',
       '25 bathroom, checkroom, lavatory, locker room',
       '28 - barber/beauty salon', '64 - incinerator area',
       '86 exterior, exposed surface',
       '83 engine area, running gear, wheel area', '42 closet',
       '38 - processing/manufacturing area, workro',
       '56 - display window', '75 wall assembly, concealed wall space',
       '15 sales area, showroom (excludes display window)',
       '12 - assembly area w/o fixed seats - 100+',
       '52 conduit, pipe, utility, or ventilation shaft', '27 office',
       '20 function areas, other',
       '55 duct: hvac, cable, exhaust, heating, or ac',
       '34 - surgery - operating room', '80 vehicle area, other',
       '58 - conveyor', '11 - assembly area w/fixed seats - 100+',
       '09 egress/exit, other', '51 - dumbwaiter or elavator shaft',
       '73 ceiling and floor assembly, crawl space between stories',
       '60 equipment or service area, other',
       '65 - maintenance shop/area, paint shop/are',
       '62 heating room or area, water heater area',
       '74 attic: vacant, crawl space above top story',
       '84 fuel tank, fuel line',
       '65 maintenance shop or area, paint shop or area',
       '45 shipping/receiving area; loading area, dock or bay',
       '32 - dark room, photo area, or printing ar',
       '22 bedroom - 5+ persons; including barrack/dormitory',
       '44 records storage room, storage vault',
       '82 cargo/trunk areaùall vehicles', '03 interior stairway or ramp',
       '04 - escalator - exterior, interior',
       '35 computer room, control room or center',
       '71 substructure area or space, crawl space', '17 - swimming pool',
       '98 vacant structural area',
       '92 highway, parking lot, street: on or near',
       '13 assembly area - less than 100 persons', '95 wildland, woods',
       '28 personal service area, barber/beauty salon area',
       '82 cargo/trunk areaã¹all vehicles', '97 multiple areas',
       '53 light shaft', '68 - enclosure with enriched oxygen atmosp',
       '66 - cell, test', '38 processing/manufacturing area, workroom',
       '37 projection room, spotlight area',
       '11 arena, assembly area w/ fixed seats - 100+ persons',
       '16 art gallery, exhibit hall, library',
       '91 railroad right-of-way: on or near', '78 awning',
       '85 separate operator/control area of transportation equipment',
       '58 conveyor', '56 display window',
       '51 dumbwaiter or elevator shaft',
       '12 assembly area without fixed seats - 100+ persons',
       '32 dark room, photography area, or printing area',
       '33 treatment - first aid area, surgery area',
       '30 technical processing areas, other',
       '82 cargo/trunk areaall vehicles'], dtype=object)

In [53]:
df_X1['Detector Alerted Occupants'].unique()

array(['-', '2 detector did not alert occupants',
       '1 - detector alerted occupants', 'u - unknown',
       '2 - detector did not alert occupants', nan,
       '1 detector alerted occupants', 'u unknown'], dtype=object)

In [54]:
df_X1['Property Use'].unique()

array(['000 - property use, other', '429 - multifamily dwellings',
       '963 - street or road in commercial area',
       '419 - 1 or 2 family dwelling', '960 - street, other',
       '400 - residential, other',
       '962 - residential street, road or residential dr',
       '161 restaurant or cafeteria', '500 - mercantile, business, other',
       '331 - hospital - medical or psychiatric', 'uuu - undetermined',
       '215 - middle/junior or high school',
       '110 - fixed use recreation places, other',
       '965 - vehicle parking area', '449 - hotel/motel, commercial',
       '439 - boarding/rooming house, res. hotels',
       '122 - convention center, exhibition hall',
       '899 - residential or self storage units',
       '807 - outside material storage area',
       '961 - highway or divided highway (street)',
       '171 - airport passenger terminal',
       '900 - outside or special property, other',
       '100 - assembly, other', '211 - preschool', '-',
       '161 - restaurant or cafeteria',
       '596 - post office or mailing firms',
       '898 - dock, marina, pier, wharf', '599 - business office',
       '564 - laundry, dry cleaning', '981 - construction site',
       '200 - educational, other', '332 - hospices',
       '921 - bridge, trestle', '931 - open land or field',
       '559 - rec./hobby/home repair sales, pet store',
       '936 - vacant lot', '162 - bar or nightclub', '922 - tunnel',
       '150 - public or government, other', '174 - rapid transit station',
       '170 - passenger terminal, other',
       '311 - 24-hr care nurse homes, 4 or more person',
       '580 - general retail, other', '121 - ballroom, gymnasium',
       '459 - residential board and care', '210 - schools, non-adult',
       '142 - clubhouse', '581 - department or discount store',
       '213 - elem. school, inc. kindergarten', '183 - movie theater',
       '642 - electrical distribution',
       '882 - parking garage, general vehicle',
       '519 - food and beverage sales, grocery store',
       '241 - adult ed. center, college classroom',
       '529 - textile, wearing apparel sales',
       '974 - aircraft loading area',
       '131 - church/mosque/synagogue/temple/chapel',
       '569 - professional supplies, services', '940 - water area, other',
       '123 - stadium, arena', '549 - specialty shop', 'nnn - none',
       '120 - variable use amusement, recreation places',
       '941 - open ocean, sea or tidal waters',
       '419 1 or 2 family dwelling', '647 - water utility',
       '182 - auditorium or concert hall',
       '593 - office:  veterinary or research',
       '449 hotel/motel, commercial', '888 - fire station',
       '160 - eating, drinking places',
       '557 - per. service; inc. barber/beauty shop',
       '972 - aircraft runway',
       '322 - alcohol/sub. abuse recovery center',
       '311 24-hour care nursing homes, 4 or more persons',
       '141 - athletic/health club', '940 water area, other',
       '460 - dormitory type residence, other', '152 - museum',
       '539 - household goods, sales, repairs', '800 - storage, other',
       '500 mercantile, business, other',
       '579 - vehicle/boat; sales, service or repair',
       '880 - vehicle storage, other',
       '631 - defense, military installation',
       '464 - barracks, dormitory', '592 - bank',
       '808 - outbuilding or shed',
       '938 - graded and cared-for plots of land', '155 - courthouse',
       '429 multifamily dwelling', '891 - warehouse', '173 - bus station',
       '984 - industrial plant yard - area',
       '154 - memorial structure, including monuments &', '937 - beach',
       '963 street or road in commercial area',
       '144 - casino, gambling clubs',
       "342 - doctor, dentist or oral surgeon's office",
       '439 boarding/rooming house, residential hotels',
       '340 - clinics, md off., hemodialysis center',
       '140 - clubs, other',
       '340 clinics, doctors offices, hemodialysis cntr, other',
       '151 - library', '124 - playground', '635 - computer center',
       '983 - pipe/power line or oth. util. right/way',
       '180 - studio/theater, other',
       '300 - health care/detentino & correction, oth.',
       '571 - service station, gas station', '564 laundry, dry cleaning',
       '4191 -', '919 - dump, sanitary landfill',
       '898 dock, marina, pier, wharf',
       '341 - clinic, clinic-type infirmary',
       '579 motor vehicle or boat sales, services, repair', nan,
       '648 - sanitation utility', '961 highway or divided highway',
       '116 - swimming facility: indoor or outdoor',
       '129 - amusement center: indoor/outdoor',
       '644 - gas distribution, pipeline',
       '321 - mental retardation/development dis.', '143 - yacht club',
       '881 - parking garage; detached res. garage',
       '256 - day care in residence, unlicensed.',
       '962 residential street, road or residential driveway',
       '365 - police station', '255 - day care, in residence, licensed',
       '181 - live performance theater', 'nnn none',
       '669 - forest, timberland, woodland',
       '700 - manufacturing, processing',
       '640 - utility or distribution system, other',
       '111 - bowling alley', '341 clinic, clinic-type infirmary',
       '973 - aircraft taxi-way', '361 - jail, prison (not juvenile)',
       '323 - asylum, mental institution', '952 - railroad yard',
       '849 - outside storage tank', 'uuu undetermined',
       '400 residential, other', '185 - radio, television studio',
       '130 - places of worship, funeral parlors',
       '000 property use, other',
       '363 - reformatory, juvenile detention center',
       '100 assembly, other', '186 - film/movie production studio',
       '935 - campsite with utilities', '946 - lake, river, stream',
       '629 - laboratory or science lababoratory',
       '113 - electronic amusement center', '951 - railroad right of way',
       '254 - day care, in commercial property',
       '331 hospital - medical or psychiatric',
       '900 outside or special property, other', '960 street, other',
       '511 - convenience store', '937 beach',
       '610 - energy production plant, other', '808 outbuilding or shed',
       '599 business office',
       '600 - utility/defense/agriculture/mining, oth.',
       '819 - livestock, poultry storage',
       '807 outside material storage area',
       '150 public or government, other',
       '110 fixed-use recreation places, other', '936 vacant lot',
       '519 food and beverage sales, grocery store',
       '215 high school/junior high school/middle school',
       '131 church, mosque, synagogue, temple, chapel',
       '839 - refrigerated storage', '639 - communications center',
       '931 open land or field', '926 - outbuilding, protective shelter',
       '3 -', '115 - roller rink: indoor or outdoor',
       '162 bar or nightclub', '615 - electric generating plant',
       '174 rapid transit station',
       '881 parking garage, (detached residential garage)',
       '974 aircraft loading area', '134 - funeral parlor',
       '460 dormitory-type residence, other', '921 bridge, trestle',
       '642 electrical distribution', '114 - ice rink: indoor, outdoor',
       '559 recreational, hobby, home repair sales, pet store',
       '462 - sorority house, fraternity house',
       '571 service station, gas station',
       '941 open ocean, sea or tidal waters',
       '459 residential board and care', '982 - oil or gas field',
       '800 storage, other', '700 manufacturing, processing',
       '614 - steam or heat generating plant', '511 convenience store',
       '891 warehouse',
       '557 personal service, including barber & beauty shops', '7003 -',
       '951 railroad right-of-way', '112 - billiard center, pool hall',
       '615 electric-generating plant', '1 -',
       '129 amusement center: indoor/outdoor',
       '241 adult education center, college classroom',
       '645 - flam. liq. distribution, pipeline',
       '141 athletic/health club',
       '600 ind., utility, defense, agriculture, mining, other',
       '569 professional supplies, services',
       '122 convention center, exhibition hall', '592 bank',
       '629 laboratory or science laboratory',
       '322 alcohol or substance abuse recovery center', '211 preschool',
       '121 ballroom, gymnasium', '200 educational, other',
       '549 specialty shop', '596 post office or mailing firms',
       '116 swimming facility: indoor or outdoor',
       '115 roller rink: indoor or outdoor',
       '529 textile, wearing apparel sales', '972 aircraft runway',
       '655 - crops or orchard', '981 construction site',
       '171 airport passenger terminal', '343 - hemodialysis unit',
       '882 parking garage, general vehicle', '183 movie theater',
       '210 schools, non-adult, other', '181 live performance theater',
       '888 fire station',
       '300 health care, detention, & correction, other',
       '965 vehicle parking area', '639 communications center',
       '213 elementary school, including kindergarten',
       '610 energy production plant, other', '816 - grain elevator, silo',
       '5 -', '581 department or discount store', '922 tunnel',
       '580 general retail, other', '632 - flight control tower',
       '170 passenger terminal, other',
       '160 eating, drinking places, other',
       '255 day care, in residence, licensed', '124 playground',
       '120 variable-use amusement, recreation places, other',
       '173 bus station', '659 - livestock production',
       '640 utility or distribution system, other', '152 museum',
       '919 dump, sanitary landfill', '946 lake, river, stream',
       '899 residential or self-storage units',
       '880 vehicle storage, other',
       '321 mental retardation/development disability facility',
       '984 industrial plant yard - area', '151 library',
       '973 aircraft taxiway', '539 household goods, sales, repairs',
       '365 police station', '679 mine, quarry',
       '632 flight control tower',
       '938 graded and cared-for plots of land',
       '130 places of worship, funeral parlors, other',
       '140 clubs, other', '134 funeral parlor', '123 stadium, arena',
       '142 clubhouse', '635 computer center',
       '342 doctor, dentist or oral surgeon office',
       '363 reformatory, juvenile detention center',
       '464 barracks, dormitory',
       '983 pipeline, power line or other utility right-of-way',
       '180 studio/theater, other', '155 courthouse',
       '669 forest, timberland, woodland', '647 water utility',
       '935 campsite with utilities',
       '254 day care, in commercial property',
       '113 electronic amusement center', '332 hospices',
       '361 jail, prison (not juvenile)',
       '926 outbuilding, protective shelter',
       '631 defense, military installation',
       '182 auditorium, concert hall',
       '462 sorority house, fraternity house',
       '323 asylum, mental institution',
       '593 office:  veterinary or research',
       '154 memorial structure, including monuments & statues',
       '614 steam or heat-generating plant', '343 hemodialysis unit',
       '111 bowling establishment', '952 railroad yard',
       '256 day care in residence, unlicensed.', '143 yacht club',
       '186 film/movie production studio', '839 refrigerated storage',
       '648 sanitation utility', '644 gas distribution, gas pipeline',
       '849 outside storage tank', '114 ice rink: indoor, outdoor',
       '185 radio, television studio',
       '645 flammable liquid distribution, f.l. pipeline',
       '0000 tent/encampment', '112 billiard center, pool hall',
       '819 livestock, poultry storage', '655 crops or orchard'],
      dtype=object)

In [55]:
df_X1['Structure Type'].unique()

array([nan, '1 -enclosed building', '3 -open structure', '-',
       '2 -fixed portable or mobile structure', '1 enclosed building',
       '0 -structure type, other', '5 -tent', '6 -open platform',
       '7 -underground structure work areas', '8 -connective structure',
       '0 structure type, other', '4 -air supported structure',
       '3 open structure', '6 open platform', '8 connective structure',
       '2 fixed portable or mobile structure',
       '7 underground structure work area', '4 air-supported structure',
       '5 tent'], dtype=object)

In [56]:
df_X1['Structure Status'].unique()

array([nan, '2 -in normal use', '-', '3 -idle, not routinely used',
       '5 -vacant and secured', '2 in normal use',
       '6 -vacant and unsecured', '0 -other', '1 -under construction',
       '4 -under major renovation', '1 under construction',
       '4 under major renovation', 'u -undetermined',
       '7 -being demolished', 'u undetermined', '5 vacant and secured',
       '0 building status, other', '6 vacant and unsecured',
       '3 idle, not routinely used', '7 being demolished'], dtype=object)

In [57]:
df_X1['Structure Status'].value_counts()

2 -in normal use               5239
-                              3826
2 in normal use                1459
5 -vacant and secured           145
1 -under construction            90
6 -vacant and unsecured          89
4 -under major renovation        80
3 -idle, not routinely used      59
1 under construction             56
0 -other                         38
5 vacant and secured             20
6 vacant and unsecured           16
4 under major renovation         16
u -undetermined                   8
3 idle, not routinely used        7
u undetermined                    6
0 building status, other          6
7 -being demolished               3
7 being demolished                3
Name: Structure Status, dtype: int64

In [58]:
df_X1['Structure Type'].value_counts()

1 -enclosed building                     5523
-                                        3011
1 enclosed building                      1513
0 -structure type, other                  361
3 -open structure                         272
5 -tent                                   159
2 -fixed portable or mobile structure     108
0 structure type, other                    97
6 -open platform                           71
8 -connective structure                    43
3 open structure                           37
2 fixed portable or mobile structure       32
7 -underground structure work areas        27
8 connective structure                      9
6 open platform                             8
5 tent                                      5
4 -air supported structure                  2
7 underground structure work area           2
4 air-supported structure                   1
Name: Structure Type, dtype: int64

#### Needed in preprocessing to train the model, not needed to test it

df_X2 = df_X2.drop_duplicates()

In [60]:

#df_X2 = df_X2.dropna()

In [61]:
df_X2.head(10)

,Zipcode,Battalion,Suppression Units,Suppression Personnel,EMS Units,EMS Personnel,Fire Fatalities,Fire Injuries,Civilian Fatalities,Civilian Injuries,Weekday,Hour,Month
0,NaN,B09,1,5,0,0,0,0,0,0,6,18,4
1,NaN,B09,3,11,0,0,0,0,0,0,3,10,7
2,94103.0,B03,3,10,0,0,0,0,0,0,6,3,5
3,NaN,B04,3,10,0,0,0,0,0,0,1,16,4
4,94109.0,B04,2,9,0,0,0,0,0,0,1,18,11
5,94123.0,B04,3,11,0,0,0,0,0,0,2,8,8
6,94134.0,B10,1,4,0,0,0,0,0,0,3,13,3
7,94122.0,B08,8,28,1,2,0,0,0,0,5,2,6
8,94107.0,B10,3,10,0,0,0,0,0,0,6,17,10
9,94107.0,B10,1,4,0,0,0,0,0,0,3,17,4

In [62]:
df_X2.shape

(318506, 13)

In [63]:
df_X2.count()

Zipcode                  266535
Battalion                318506
Suppression Units        318506
Suppression Personnel    318506
EMS Units                318506
EMS Personnel            318506
Fire Fatalities          318506
Fire Injuries            318506
Civilian Fatalities      318506
Civilian Injuries        318506
Weekday                  318506
Hour                     318506
Month                    318506
dtype: int64

In [64]:
df_X2.head()

,Zipcode,Battalion,Suppression Units,Suppression Personnel,EMS Units,EMS Personnel,Fire Fatalities,Fire Injuries,Civilian Fatalities,Civilian Injuries,Weekday,Hour,Month
0,NaN,B09,1,5,0,0,0,0,0,0,6,18,4
1,NaN,B09,3,11,0,0,0,0,0,0,3,10,7
2,94103.0,B03,3,10,0,0,0,0,0,0,6,3,5
3,NaN,B04,3,10,0,0,0,0,0,0,1,16,4
4,94109.0,B04,2,9,0,0,0,0,0,0,1,18,11

In [65]:
#df_X2['Estimated Property Loss'].min()

In [66]:
#df_X2['Estimated Property Loss'] = df_X2['Estimated Property Loss'].apply(lambda x : x if  x > 0 else 0 )

In [67]:
#df_X2['Estimated Property Loss'].min()

In [68]:
# Create dataset
#imputed = pd.DataFrame()

# Fill missing values of Age with the average of Age (mean)
#imputed[ 'Estimated Property Loss' ] = df_X2['Estimated Property Loss'].fillna( df_X2['Estimated Property Loss'].mean() )

In [69]:
#imputed[ 'Estimated Property Loss' ] = df_X2['Estimated Property Loss'].fillna( df_X2['Estimated Property Loss'].mean() )

In [70]:
#imputed[ 'Estimated Property Loss' ].min()

In [71]:
#df_X2['Estimated Contents Loss'].min()

In [72]:
#df_X2['Estimated Contents Loss'] = df_X2['Estimated Contents Loss'].apply(lambda x : x if  x > 0 else 0 )

In [73]:
#df_X2['Estimated Contents Loss'].min()

In [74]:
#imputed[ 'Estimated Contents Loss' ] = df_X2['Estimated Contents Loss'].fillna( df_X2['Estimated Contents Loss'].mean() )

In [75]:
#imputed[ 'Estimated Contents Loss' ]

In [76]:
#! pip install impyute

In [77]:
# from impyute.imputation.cs import mice

# # start the MICE training
# imputed_training=mice(df_X2['Estimated Property Loss'].values)

In [78]:
#df_X2[ 'Detector Alerted Occupants'][:500]

In [79]:
#imputed[ 'Estimated Property Loss' ] = df_X2['Estimated Property Loss'].fillna( df_X2['Estimated Property Loss']

In [80]:
# df_X2 = df_X2[df_X2.Zipcode != 'Nan']
# df_X2.where(filter1,inplace=True)

In [81]:
df_X2 = df_X2[pd.notnull(df_X2['Zipcode'])]

In [82]:
df_X2.shape

(266535, 13)

In [83]:
df_X2.head(10)

,Zipcode,Battalion,Suppression Units,Suppression Personnel,EMS Units,EMS Personnel,Fire Fatalities,Fire Injuries,Civilian Fatalities,Civilian Injuries,Weekday,Hour,Month
2,94103.0,B03,3,10,0,0,0,0,0,0,6,3,5
4,94109.0,B04,2,9,0,0,0,0,0,0,1,18,11
5,94123.0,B04,3,11,0,0,0,0,0,0,2,8,8
6,94134.0,B10,1,4,0,0,0,0,0,0,3,13,3
7,94122.0,B08,8,28,1,2,0,0,0,0,5,2,6
8,94107.0,B10,3,10,0,0,0,0,0,0,6,17,10
9,94107.0,B10,1,4,0,0,0,0,0,0,3,17,4
10,94118.0,B07,3,10,0,0,0,0,0,0,5,7,11
11,94105.0,B03,3,10,0,0,0,0,0,0,6,11,1
12,94133.0,B01,2,9,0,0,0,0,0,0,4,20,2

In [84]:
df_X2['Battalion'].unique()
df_X2['Battalion'] = pd.Categorical(df_X2['Battalion'])
one_hot = pd.get_dummies(df_X2['Battalion'],prefix='Battalion')
#df_X2 = df_X2.drop('Battalion',axis = 1)
# Join the encoded df
df_X2 = df_X2.join(one_hot)
df_X2.head(10)

,Zipcode,Battalion,Suppression Units,Suppression Personnel,EMS Units,EMS Personnel,Fire Fatalities,Fire Injuries,Civilian Fatalities,Civilian Injuries,...,Battalion_B02,Battalion_B03,Battalion_B04,Battalion_B05,Battalion_B06,Battalion_B07,Battalion_B08,Battalion_B09,Battalion_B10,Battalion_B99
2,94103.0,B03,3,10,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,94109.0,B04,2,9,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,94123.0,B04,3,11,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,94134.0,B10,1,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,94122.0,B08,8,28,1,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
8,94107.0,B10,3,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,94107.0,B10,1,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10,94118.0,B07,3,10,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
11,94105.0,B03,3,10,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
12,94133.0,B01,2,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [85]:
df_X2['Zipcode'].unique()
df_X2['Zipcode'] = pd.Categorical(df_X2['Zipcode'])
one_hot = pd.get_dummies(df_X2['Zipcode'],prefix='Zipcode')
#df_X2 = df_X2.drop('Battalion',axis = 1)
# Join the encoded df
df_X2 = df_X2.join(one_hot)

In [86]:
df_X2.head(10)

,Zipcode,Battalion,Suppression Units,Suppression Personnel,EMS Units,EMS Personnel,Fire Fatalities,Fire Injuries,Civilian Fatalities,Civilian Injuries,...,Zipcode_94123.0,Zipcode_94124.0,Zipcode_94127.0,Zipcode_94129.0,Zipcode_94130.0,Zipcode_94131.0,Zipcode_94132.0,Zipcode_94133.0,Zipcode_94134.0,Zipcode_94158.0
2,94103.0,B03,3,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,94109.0,B04,2,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,94123.0,B04,3,11,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
6,94134.0,B10,1,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,94122.0,B08,8,28,1,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,94107.0,B10,3,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,94107.0,B10,1,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,94118.0,B07,3,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,94105.0,B03,3,10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,94133.0,B01,2,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [87]:
list(df_X2)

['Zipcode',
 'Battalion',
 'Suppression Units',
 'Suppression Personnel',
 'EMS Units',
 'EMS Personnel',
 'Fire Fatalities',
 'Fire Injuries',
 'Civilian Fatalities',
 'Civilian Injuries',
 'Weekday',
 'Hour',
 'Month',
 'Battalion_B01',
 'Battalion_B02',
 'Battalion_B03',
 'Battalion_B04',
 'Battalion_B05',
 'Battalion_B06',
 'Battalion_B07',
 'Battalion_B08',
 'Battalion_B09',
 'Battalion_B10',
 'Battalion_B99',
 'Zipcode_94102.0',
 'Zipcode_94103.0',
 'Zipcode_94104.0',
 'Zipcode_94105.0',
 'Zipcode_94107.0',
 'Zipcode_94108.0',
 'Zipcode_94109.0',
 'Zipcode_94110.0',
 'Zipcode_94111.0',
 'Zipcode_94112.0',
 'Zipcode_94114.0',
 'Zipcode_94115.0',
 'Zipcode_94116.0',
 'Zipcode_94117.0',
 'Zipcode_94118.0',
 'Zipcode_94121.0',
 'Zipcode_94122.0',
 'Zipcode_94123.0',
 'Zipcode_94124.0',
 'Zipcode_94127.0',
 'Zipcode_94129.0',
 'Zipcode_94130.0',
 'Zipcode_94131.0',
 'Zipcode_94132.0',
 'Zipcode_94133.0',
 'Zipcode_94134.0',
 'Zipcode_94158.0']

In [88]:
df_y = df_X2['Suppression Personnel']

In [89]:
df_y

2         10
4          9
5         11
6          4
7         28
8         10
9          4
10        10
11        10
12         9
13        11
17         5
18         9
19         9
20        33
21        12
22         9
23        10
24         4
25         4
26         6
27         9
29        10
30         9
31        11
32        10
33         4
34        30
35         3
36         4
          ..
490488     5
490489     5
490496     4
490497    29
490499    11
490501    11
490503    11
490504    10
490507    10
490509    28
490511     4
490512     5
490514     5
490515     5
490519    10
490521     4
490523     5
490525     5
490526    15
490527    11
490528    15
490534    19
490538    16
490544     4
490546     5
490550     4
490551    10
490553    19
490554    10
490555    33
Name: Suppression Personnel, Length: 266535, dtype: int64

In [90]:
df_feature  = df_X2.drop(['Suppression Personnel','Battalion','Zipcode'],axis=1)

In [91]:
df_feature.head(10)

,Suppression Units,EMS Units,EMS Personnel,Fire Fatalities,Fire Injuries,Civilian Fatalities,Civilian Injuries,Weekday,Hour,Month,...,Zipcode_94123.0,Zipcode_94124.0,Zipcode_94127.0,Zipcode_94129.0,Zipcode_94130.0,Zipcode_94131.0,Zipcode_94132.0,Zipcode_94133.0,Zipcode_94134.0,Zipcode_94158.0
2,3,0,0,0,0,0,0,6,3,5,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,1,18,11,...,0,0,0,0,0,0,0,0,0,0
5,3,0,0,0,0,0,0,2,8,8,...,1,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,3,13,3,...,0,0,0,0,0,0,0,0,1,0
7,8,1,2,0,0,0,0,5,2,6,...,0,0,0,0,0,0,0,0,0,0
8,3,0,0,0,0,0,0,6,17,10,...,0,0,0,0,0,0,0,0,0,0
9,1,0,0,0,0,0,0,3,17,4,...,0,0,0,0,0,0,0,0,0,0
10,3,0,0,0,0,0,0,5,7,11,...,0,0,0,0,0,0,0,0,0,0
11,3,0,0,0,0,0,0,6,11,1,...,0,0,0,0,0,0,0,0,0,0
12,2,0,0,0,0,0,0,4,20,2,...,0,0,0,0,0,0,0,1,0,0

In [92]:
df_feature.shape

(266535, 48)

In [123]:
def preprocessInput(read_df):
    df_X = read_df.drop(['Number of Alarms', 'Number of floors with minimum damage', 'Number of floors with significant damage', 'Ignition Cause', 'Number of floors with heavy damage', 'Number of floors with extreme damage', 'Detector Failure Reason', 'Number of Sprinkler Heads Operating', 'Item First Ignited', 'Automatic Extinguishing Sytem Type', 'Automatic Extinguishing Sytem Perfomance', 'Automatic Extinguishing Sytem Failure Reason', 'Supervisor District', 'Neighborhood  District'  ], axis = 1)
    df_X1 = df_X.drop(['Human Factors Associated with Ignition','Arrival DtTm', 'Close DtTm', 'No Flame Spead', 'Mutual Aid','City','Fire Spread','Detector Type','Detector Operation','Detector Effectiveness', 'Primary Situation', 'Other Units'
 ,'Other Personnel', 'Action Taken Other', 'Action Taken Secondary', 'First Unit On Scene', 'Call Number','Station Area' ], axis=1)
    df_X1['Weekday'] = df_X1['Alarm DtTm'].apply(lambda x: convert_date_to_weekday(x))
    df_X1['Hour'] = df_X1['Alarm DtTm'].apply(lambda x: convert_date_to_hour(x))
    df_X1['Month'] = df_X1['Alarm DtTm'].apply(lambda x: convert_date_to_month(x))
    df_X2 = df_X1.drop(['Exposure Number','Location', 'Ignition Factor Secondary', 'Heat Source','Floor of Fire Origin','Box' ,'Structure Status','Alarm DtTm', 'Area of Fire Origin', 'Incident Date', 'Incident Number', 'Action Taken Primary','Ignition Factor Primary', 'Structure Type', 'Automatic Extinguishing System Present','Detectors Present','Property Use','Estimated Property Loss','Estimated Contents Loss', 'Detector Alerted Occupants', 'Address'], axis=1)
    df_X2['Battalion'].unique()
    df_X2['Battalion'] = pd.Categorical(df_X2['Battalion'])
    one_hot = pd.get_dummies(df_X2['Battalion'],prefix='Battalion')
    #df_X2 = df_X2.drop('Battalion',axis = 1)
    # Join the encoded df
    df_X2 = df_X2.join(one_hot)
    df_X2['Zipcode'] = pd.Categorical(df_X2['Zipcode'])
    one_hot = pd.get_dummies(df_X2['Zipcode'],prefix='Zipcode')
    #df_X2 = df_X2.drop('Battalion',axis = 1)
    # Join the encoded df
    df_X2 = df_X2.join(one_hot)
    df_feature  = df_X2.drop(['Battalion','Zipcode'],axis=1)
    return df_feature

In [125]:
read_df = pd.read_csv('Fire_Incidents.tsv', sep='\t')
df_feature = preprocessInput(read_df)
df_feature = df_feature.drop_duplicates()
df_y = df_feature['Suppression Personnel']
df_feature = df_feature.drop(['Suppression Personnel'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
df_feature_train, df_feature_test, df_y_train, df_y_test = train_test_split(df_feature, df_y, test_size = 0.2, random_state = 0)

In [126]:
df_feature_train.shape

(254804, 48)

In [127]:
df_feature_test.shape

(63702, 48)

In [128]:
from sklearn.preprocessing import StandardScaler

In [129]:
sc_X = StandardScaler()
X_train = sc_X.fit_transform(df_feature_train)
X_test = sc_X.fit_transform(df_feature_test)
sc_y = StandardScaler()

C:\Users\Rutul Thakkar\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Rutul Thakkar\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Rutul Thakkar\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Rutul Thakkar\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [130]:
X_train[:10]

array([[ 1.68819917e-02, -2.70184611e-01, -3.53404808e-01,
        -1.98106047e-03, -1.49344410e-02, -7.97385241e-03,
        -2.50564669e-02, -1.01390258e+00,  1.29093471e+00,
         4.28267399e-01, -3.94567816e-01, -3.93830199e-01,
        -4.01112399e-01,  3.02535407e+00, -3.02681951e-01,
        -2.81331722e-01, -2.52458821e-01, -3.10920779e-01,
        -3.14829226e-01, -3.09879758e-01, -1.04471868e-01,
        -2.94173227e-01, -2.84398504e-01, -1.12918555e-01,
        -1.70804831e-01, -2.08659537e-01, -1.65686619e-01,
        -2.79018099e-01, -2.61980737e-01, -1.48047124e-01,
        -1.79400012e-01, -1.93356842e-01,  4.64424365e+00,
        -1.22811171e-01, -1.83781656e-01, -1.65724123e-01,
        -1.39076952e-01, -1.68786420e-01, -1.57869471e-01,
        -1.80562069e-01, -9.89778619e-02, -7.56519485e-02,
        -5.96695640e-02, -1.48558468e-01, -1.66522410e-01,
        -1.71133105e-01, -1.54414293e-01, -8.54729101e-02],
       [-6.83015602e-02, -2.70184611e-01, -3.53404808e-01,
        -1.98106047e-03, -1.49344410e-02, -7.97385241e-03,
        -2.50564669e-02, -1.08900727e-02,  8.21825255e-01,
        -1.58658737e+00,  2.53441857e+00, -3.93830199e-01,
        -4.01112399e-01, -3.30539823e-01, -3.02681951e-01,
        -2.81331722e-01, -2.52458821e-01, -3.10920779e-01,
        -3.14829226e-01, -3.09879758e-01, -1.04471868e-01,
        -2.94173227e-01, -2.84398504e-01, -1.12918555e-01,
        -1.70804831e-01, -2.08659537e-01, -1.65686619e-01,
        -2.79018099e-01, -2.61980737e-01, -1.48047124e-01,
        -1.79400012e-01, -1.93356842e-01, -2.15320314e-01,
        -1.22811171e-01, -1.83781656e-01, -1.65724123e-01,
        -1.39076952e-01, -1.68786420e-01, -1.57869471e-01,
        -1.80562069e-01, -9.89778619e-02, -7.56519485e-02,
        -5.96695640e-02, -1.48558468e-01, -1.66522410e-01,
         5.84340477e+00, -1.54414293e-01, -8.54729101e-02],
       [ 1.68819917e-02, -2.70184611e-01, -3.53404808e-01,
        -1.98106047e-03, -1.49344410e-02, -7.97385241e-03,
        -2.50564669e-02, -1.08900727e-02, -4.29133292e-01,
        -4.35241787e-01, -3.94567816e-01, -3.93830199e-01,
        -4.01112399e-01, -3.30539823e-01, -3.02681951e-01,
         3.55452273e+00, -2.52458821e-01, -3.10920779e-01,
        -3.14829226e-01, -3.09879758e-01, -1.04471868e-01,
        -2.94173227e-01, -2.84398504e-01, -1.12918555e-01,
        -1.70804831e-01, -2.08659537e-01, -1.65686619e-01,
        -2.79018099e-01, -2.61980737e-01, -1.48047124e-01,
        -1.79400012e-01,  5.17178492e+00, -2.15320314e-01,
        -1.22811171e-01, -1.83781656e-01, -1.65724123e-01,
        -1.39076952e-01, -1.68786420e-01, -1.57869471e-01,
        -1.80562069e-01, -9.89778619e-02, -7.56519485e-02,
        -5.96695640e-02, -1.48558468e-01, -1.66522410e-01,
        -1.71133105e-01, -1.54414293e-01, -8.54729101e-02],
       [ 1.68819917e-02, -2.70184611e-01, -3.53404808e-01,
        -1.98106047e-03, -1.49344410e-02, -7.97385241e-03,
        -2.50564669e-02, -1.51540883e+00, -1.68009184e+00,
        -7.23078182e-01, -3.94567816e-01, -3.93830199e-01,
        -4.01112399e-01, -3.30539823e-01, -3.02681951e-01,
        -2.81331722e-01,  3.96104203e+00, -3.10920779e-01,
        -3.14829226e-01, -3.09879758e-01, -1.04471868e-01,
        -2.94173227e-01, -2.84398504e-01, -1.12918555e-01,
        -1.70804831e-01, -2.08659537e-01, -1.65686619e-01,
        -2.79018099e-01, -2.61980737e-01, -1.48047124e-01,
        -1.79400012e-01, -1.93356842e-01, -2.15320314e-01,
        -1.22811171e-01, -1.83781656e-01, -1.65724123e-01,
        -1.39076952e-01, -1.68786420e-01, -1.57869471e-01,
        -1.80562069e-01, -9.89778619e-02, -7.56519485e-02,
        -5.96695640e-02, -1.48558468e-01, -1.66522410e-01,
        -1.71133105e-01, -1.54414293e-01, -8.54729101e-02],
       [ 1.68819917e-02, -2.70184611e-01, -3.53404808e-01,
        -1.98106047e-03, -1.49344410e-02, -7.97385241e-03,
        -2.50564669e-02,  1.49362868e+00, -8.98242747e-01,
        -7.23078182e-01, -3.94567816e-01, -3.93830199e-01,
        -4.01112399e-01, -3.30539823e-01, -3.02681951e-01,
        -2.81331722e-01,  3.96104203e+00, -3.10920779e-01,
        -3.14829226e-01, -3.09879758e-01, -1.04471868e-01,
        -2.94173227e-01, -2.84398504e-01, -1.12918555e-01,
        -1.70804831e-01, -2.08659537e-01, -1.65686619e-01,
        -2.79018099e-01, -2.61980737e-01, -1.48047124e-01,
        -1.79400012e-01, -1.93356842e-01, -2.15320314e-01,
        -1.22811171e-01, -1.83781656e-01, -1.65724123e-01,
         7.19026401e+00, -1.68786420e-01, -1.57869471e-01,
        -1.80562069e-01, -9.89778619e-02, -7.56519485e-02,
        -5.96695640e-02, -1.48558468e-01, -1.66522410e-01,
        -1.71133105e-01, -1.54414293e-01, -8.54729101e-02],
       [-1.53485112e-01, -2.70184611e-01, -3.53404808e-01,
        -1.98106047e-03, -1.49344410e-02, -7.97385241e-03,
        -2.50564669e-02, -1.08900727e-02,  1.13456489e+00,
         1.40431004e-01, -3.94567816e-01, -3.93830199e-01,
        -4.01112399e-01, -3.30539823e-01, -3.02681951e-01,
         3.55452273e+00, -2.52458821e-01, -3.10920779e-01,
        -3.14829226e-01, -3.09879758e-01, -1.04471868e-01,
        -2.94173227e-01, -2.84398504e-01, -1.12918555e-01,
        -1.70804831e-01, -2.08659537e-01, -1.65686619e-01,
        -2.79018099e-01, -2.61980737e-01, -1.48047124e-01,
        -1.79400012e-01, -1.93356842e-01, -2.15320314e-01,
        -1.22811171e-01, -1.83781656e-01, -1.65724123e-01,
        -1.39076952e-01, -1.68786420e-01, -1.57869471e-01,
        -1.80562069e-01, -9.89778619e-02, -7.56519485e-02,
        -5.96695640e-02, -1.48558468e-01, -1.66522410e-01,
        -1.71133105e-01, -1.54414293e-01, -8.54729101e-02],
       [-1.53485112e-01, -2.70184611e-01, -3.53404808e-01,
        -1.98106047e-03, -1.49344410e-02, -7.97385241e-03,
        -2.50564669e-02,  9.92122432e-01, -1.68009184e+00,
        -1.47405391e-01,  2.53441857e+00, -3.93830199e-01,
        -4.01112399e-01, -3.30539823e-01, -3.02681951e-01,
        -2.81331722e-01, -2.52458821e-01, -3.10920779e-01,
        -3.14829226e-01, -3.09879758e-01, -1.04471868e-01,
        -2.94173227e-01, -2.84398504e-01, -1.12918555e-01,
        -1.70804831e-01, -2.08659537e-01, -1.65686619e-01,
        -2.79018099e-01, -2.61980737e-01, -1.48047124e-01,
        -1.79400012e-01, -1.93356842e-01, -2.15320314e-01,
        -1.22811171e-01, -1.83781656e-01, -1.65724123e-01,
        -1.39076952e-01, -1.68786420e-01, -1.57869471e-01,
        -1.80562069e-01, -9.89778619e-02, -7.56519485e-02,
        -5.96695640e-02, -1.48558468e-01, -1.66522410e-01,
         5.84340477e+00, -1.54414293e-01, -8.54729101e-02],
       [ 6.13166855e-01, -2.70184611e-01, -3.53404808e-01,
        -1.98106047e-03, -1.49344410e-02, -7.97385241e-03,
        -2.50564669e-02,  1.49362868e+00,  1.96345982e-01,
        -1.47405391e-01, -3.94567816e-01, -3.93830199e-01,
        -4.01112399e-01, -3.30539823e-01, -3.02681951e-01,
        -2.81331722e-01, -2.52458821e-01, -3.10920779e-01,
        -3.14829226e-01,  3.22705815e+00, -1.04471868e-01,
        -2.94173227e-01, -2.84398504e-01, -1.12918555e-01,
        -1.70804831e-01, -2.08659537e-01, -1.65686619e-01,
        -2.79018099e-01, -2.61980737e-01, -1.48047124e-01,
        -1.79400012e-01, -1.93356842e-01, -2.15320314e-01,
        -1.22811171e-01, -1.83781656e-01, -1.65724123e-01,
        -1.39076952e-01, -1.68786420e-01, -1.57869471e-01,
        -1.80562069e-01, -9.89778619e-02, -7.56519485e-02,
        -5.96695640e-02, -1.48558468e-01, -1.66522410e-01,
        -1.71133105e-01, -1.54414293e-01, -8.54729101e-02],
       [-1.53485112e-01, -2.70184611e-01, -3.53404808e-01,
        -1.98106047e-03, -1.49344410e-02, -7.97385241e-03,
        -2.50564669e-02,  1.49362868e+00,  6.65455437e-01,
         4.28267399e-01, -3.94567816e-01, -3.93830199e-01,
        -4.01112399e-01, -3.30539823e-01, -3.02681951e-01,
        -2.81331722e-01, -2.52458821e-01, -3.10920779e-01,
        -3.14829226e-01, -3.09879758e-01,  9.57195482e+00,
        -2.94173227e-01, -2.84398504e-01, -1.12918555e-01,
        -1.70804831e-01, -2.08659537e-01, -1.65686619e-01,
        -2.79018099e-01, -2.61980737e-01, -1.48047124e-01,
        -1.79400012e-01, -1.93356842e-01, -2.15320314e-01,
        -1.22811171e-01, -1.83781656e-01, -1.65724123e-01,
        -1.39076952e-01, -1.68786420e-01, -1.57869471e-01,
        -1.80562069e-01, -9.89778619e-02, -7.56519485e-02,
        -5.96695640e-02, -1.48558468e-01, -1.66522410e-01,
        -1.71133105e-01, -1.54414293e-01, -8.54729101e-02],
       [-1.53485112e-01, -2.70184611e-01, -3.53404808e-01,
        -1.98106047e-03, -1.49344410e-02, -7.97385241e-03,
        -2.50564669e-02, -5.12396325e-01,  1.96345982e-01,
         1.29177658e+00, -3.94567816e-01, -3.93830199e-01,
         2.49306679e+00, -3.30539823e-01, -3.02681951e-01,
        -2.81331722e-01, -2.52458821e-01, -3.10920779e-01,
        -3.14829226e-01, -3.09879758e-01, -1.04471868e-01,
        -2.94173227e-01,  3.51619290e+00, -1.12918555e-01,
        -1.70804831e-01, -2.08659537e-01, -1.65686619e-01,
        -2.79018099e-01, -2.61980737e-01, -1.48047124e-01,
        -1.79400012e-01, -1.93356842e-01, -2.15320314e-01,
        -1.22811171e-01, -1.83781656e-01, -1.65724123e-01,
        -1.39076952e-01, -1.68786420e-01, -1.57869471e-01,
        -1.80562069e-01, -9.89778619e-02, -7.56519485e-02,
        -5.96695640e-02, -1.48558468e-01, -1.66522410e-01,
        -1.71133105e-01, -1.54414293e-01, -8.54729101e-02]])

In [131]:
# from sklearn.preprocessing import OneHotEncoder

In [132]:
# enc = OneHotEncoder()

In [133]:
# enc.fit(df_feature)

In [134]:
# onehotlabels = enc.transform(df_feature)

In [135]:
# onehotlabels.shape

In [136]:
# from scipy.sparse import csr_matrix

# def dataframetoCSRmatrix(df):
#     nrows = len(df)
#     nc = len(df.columns)
#     idx = {}
#     tid = 0
#     nnz = nc * nrows
    
#     cols= df.columns
    
#     for col in cols:
#         df[col] = df[col].apply(str)
#         for name in df[col].unique():
#             idx[col+name] = tid
#             tid += 1
    
#     ncols = len(idx)
    
#     ind = np.zeros(nnz, dtype=np.int)
#     val = np.zeros(nnz, dtype=np.int)
#     ptr = np.zeros(nrows+1, dtype=np.int)
    
#     i=0
#     n=0
    
#     for index,row in df.iterrows():
#         for j,col in enumerate(cols):
#             ind[j+n] = idx[col+row[col]]
#             val[j+n] = 1
#         ptr[i+1] = ptr[i] + nc
#         n += nc
#         i += 1
    
#     mat = csr_matrix((val,ind,ptr), shape=(nrows,ncols), dtype=np.int)
#     mat.sort_indices()   
    
#     return mat

In [137]:
# mat_train = dataframetoCSRmatrix(df_feature)

# print("Shape of CSR Matrix -", mat.shape)

In [138]:
# mat_test = dataframetoCSRmatrix(df_feature)

In [139]:
from sklearn.ensemble import RandomForestClassifier

rfclf = RandomForestClassifier(max_depth=1, random_state=42)
rfclf.fit(X_train, df_y_train)

from sklearn.metrics import f1_score

predicted_y = rfclf.predict(X_test)
print("test accuracy: ",f1_score(df_y_test, predicted_y, average='micro'))

C:\Users\Rutul Thakkar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

test accuracy:  0.2867884838780572

In [121]:
from sklearn.externals import joblib

In [122]:
joblib.dump(rfclf, 'sf.pkl')

['sf.pkl']